/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.header_bg p {
		padding: 1% 15%;
	}
	nav li {
		margin: 0 auto;
		padding: 5px;
	}
	nav a,
	.slogan p {
		font-size: 1.375rem;
	}
	ul.pxs_slider li .description {
		margin: 0 5% 0 1%;
		width: 40%;
	}
	ul.pxs_slider li img {
		width: 50%;
	}
	.description h1 {
		font-size: 1.5rem;
	}
	.pxs_navigation span.pxs_next {
		left: 96%;
	}
	.pxs_navigation span.pxs_prev {
		left: 44.25%;
	}
	ul.pxs_thumbnails {
		left: 72%;
	}
	.wrapper {
		margin: 0 1%;
	}
	.footer_nav ul {
		margin-left: 21%;
	}
	/* product page */
	.container h1 {
		font-size: 1.75rem;
	}
	.box a.info {
		left: 20%;
	}
	.box-content:hover p {
		display: none;
	}
	/* contact page */
	.contact_page .left_column,
	.contact_page .right_column {
		margin-right: 2%;
	}
	.contact_page .map_column p {
		margin-left: 730px;
	}
	iframe {
		width: 390px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.header_bg p {
		padding: 1% 6%;
	}
	nav a,
	.slogan p,
	.slider_name,
	.description h1,
	.news li:first-child, .left li:first-child {
		padding: 12px 0;
		font-size: 1.125rem;
	}
	.description h2 {
		font-size: 0.785rem;
	}
	.box {
		width: 24%;
	}
	.boxes {
		width: 31%;
	}
	ul.pxs_thumbnails {
		display: none;
	}
	.footer_nav ul {
		margin-left: 27%;
	}
	.footer_nav li {
		padding: 5px 0;
	}

	/* product page */
	.container {
		width: 90%;
	}
	.container h1 {
		font-size: 1.125rem;
	}
	/* contacts page */
	.contact_page h1,
	.map_column {
		text-align: center;
	}
	.contact_page .right_column {
		float: none;
	}
	.contact_page .map_column p {
		margin-left: 0;
	}
	iframe {
		width: 730px;
	}
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.header_bg p,
	.slider_name,
	.description h2 {
		display: none
	}
	.header_bg .contacts {
		float: none;
		text-align: right;
		padding-top: 5%;
	}
	.header_bg:before{
		content: "Оборудованиe для реставрации и чистки одеял, подушек, перин";
		text-align: center;
		display: block;
	}
	.wrapper {
		margin: 0 auto;
	}
	nav li {
		padding: 5px 5px 5px 0;
	}
	nav a,
	.slogan p {
		padding: 0;
		font-size: 0.9rem;
	}
	ul.pxs_slider li .description {
		width: 100%;
	}
	.description a {
		text-align: center;
		margin: 0;
	}
	.description h1 {
		padding: 0 0 5px;
	}
	ul.pxs_slider li img {
		width: 97%;
	}
	.pxs_navigation span {
		top: 200px;
		width: 40px;
	}
	.pxs_navigation span.pxs_next {
		left: 94%;
	}
	.pxs_navigation span.pxs_prev {
		left: 0.25%;
	}
	.boxes,
	.news ul {
		width: 100%;
	}
}
/* Extra Small Devices, Phones */
	@media only screen and (max-width : 480px) {
		
}