/*reset*/
html {color:#000; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, figure, legend, input, textarea, p, blockquote, th, td, address, menu {margin:0; padding:0}
table {border-collapse:collapse; border-spacing:0; font-size:inherit}
fieldset, img {border:0}
address, caption, cite, code, dfn, em, strong, th, var {font-style:normal; font-weight:normal}
li {list-style:none}
caption, th {text-align:left}
h1, h2, h3, h4, h5, h6 {font-size:100%;}
q:before, q:after {content:''}
abbr, acronym {border:0; font-variant:normal}
sup {vertical-align:text-top}
sub {vertical-align:text-bottom}
input, textarea, select {font-family:inherit; font-size:inherit; font-weight:inherit}
legend {color:#000}
pre, code, kbd, samp, tt {font-family:monospace; line-height:100%}
em {font-style:italic}
strong {font-weight:bold}
a, a:hover, a:active, a:focus, a:visited {outline:none; text-decoration:none; cursor:pointer}
section{margin: 0px; padding: 0px; }