/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.row {
		margin-right: -15px;
		margin-left: -15px;
	}
	.top-menu a{
		font-size: 20px;
		padding: 0 15px 0 45px;
	}
	.navigation-panel-text {
		border: 2px solid #fff;
		font-size: 12px;
		padding: 3px 0px;
	}
	.propos-item-wrap {
		margin-left: 80px;
	}
	.propos-item-wrap,
	.propos-item-wrap:first-child {
		margin-left: 20px;
		margin-right: 20px;
	}
	.bttm-context img{
		max-width: 100%;
		margin-top: 95px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.header-top-line a {
		font-size: 18px;
	}
	.row {
		margin-left: -50px;
		margin-right: -50px;
	}
	.top-menu a {
		background-image: none;
	}
	.navigation-panel-text {
		color: red;
		font-size: 14px;
		position: absolute;
		right: 40px;
		top: -100px;
	}
	.proposition {
		padding: 15px 0;
	}
	.propos-item-wrap {
		margin-top: 5px;
		margin-bottom: 10px;
		width: 205px;
	}
	.propos-item-wrap .propos-arr {
		background-position: 95% 10px;
	}
	.propos-item-wrap.active .propos-arr,
	.propos-item-wrap:hover .propos-arr {
		background-position: -100% 10px;
	}
	.propos-item-wrap-triangle {/*добавляем класс через скрипт*/
		margin: 16px 92px;
	}
	article .art-header {
		margin-top: 15px;
	}
	.boxes {
		margin-top: 15px;
	}
	.boxes-item {
		padding: 20px 0;
	}
	.bttm-context img{
		max-width: 90%;
		margin-top: 0;
	}
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.row {
		margin-right: -10px;
		margin-left: -15px;
	}
	.header-top-line .logo {
		-webkit-transform: scale(0.9);
		-ms-transform: scale(0.9);
		-o-transform: scale(0.9);
		transform: scale(0.9);
		margin-left: -50px;
	}
	.header-top-addr{
		padding-left: 0;
		background: none;
		line-height: 23px;
	}
	.header-top-addr strong{
		font-size: 27px;
	}
	.top-menu,
	.top-menu a {
		line-height: 50px;
	}
	.top-menu li {
		float: none;
		text-align: center;
	}
	header .btn {
		margin-right: 5px;
	}
	.camera-btn {
		background-image: none;
		line-height: 20px;
		padding-top:5px !important;
	}
	.btn {
		font-size: 16px;
		padding: 0 20px;
	}
	.navigation-panel-text {
		margin-top: -83px;
		color: #ac160a;
		cursor: default;
		float: right;
		border: 3px solid #d12f22;
		border-radius: 3px;
		line-height: 19px;
		font-size: 13px;
	}
	.propos-item-wrap {
		margin: 3px 20px;
		width: 160px;
	}
		.propos-item-wrap .propos-arr {
		background-position: 80% 10px;
	}
	.propos-item-wrap.active .propos-arr,
	.propos-item-wrap:hover .propos-arr {
		background-position: -53% 10px;
	}
	.art-header {
		font-size: 25px;
	}
	article h2.art-header::before{
		top: 7px;
		margin-left: -55px;
	}
	article h2.art-header::after{
		top: 7px;
		margin-left: 5px;
	}
	.boxes-item {
		padding-bottom: 0;
		font-size: 20px;
	}
	.boxes-item img {
		width: 90%;
		height: 250px;
	}
	.context-header,
	.context-header.button-cont {
		text-align: center;
	}
	.bttm-context-footer .col-md-4,
	.bttm-context-footer .col-md-8 {
		width: 100%;
	}
	.bttm-context-footer img {
		width: 100%;
		margin-left: 20px;
	}
	.bttm-context-footer p {
		font-size: 14px;
	}
	/* Extra Small Devices, Phones */
	@media only screen and (max-width : 480px) {
		.header-top-line .logo {
			-webkit-transform: scale(0.7);
			-ms-transform: scale(0.7);
			-o-transform: scale(0.7);
			transform: scale(0.7);
			margin-left: -90px;
			margin-top: -35px;
		}
		.top-addr strong {
			font-size: 16px;
		}
		.navigation-panel-text {
			display: none;
		}
		.proposition h2 {
			font-size: 24px;
		}
		.prop-img h2::before,
		.prop-img h2::after,
		article h2.art-header::before,
		article h2.art-header::after {
			background-image: none;			
		}