//info
$i-text-color: #fff;
$i-dot-nav_bg:  #dcdcdc;

//slider
$slider-arrow_color: #d0d0d0;

//our advantage

$s-advantage_bg: #edeced;
$box_bg: #fff;

//stock-list
$link-color: #4cbb73;
$link-color_hover: #17e860;

//footer
$footer_bg: #f3f3f3;
$copyright_bg: #dcdcdc;
//button style
$i-search-button: #20ab50;
$i-search-button_hover: #1ac856;
