/* ===============================================================================
==================================     POP-UP  ORDER    ============================
=============================================================================== */
.pop-up {
  display: none;
  position: fixed;
  top: 50px;
  left: 50%;
  margin-left: -435px;
  max-width: 870px;
  width: 100%;
  height: 693px;
  z-index: 10;

  .banner__content {
    background: #fff;
    padding: 40px 85px 50px 90px;

    .product-img__descr {
      bottom: 3px;
      right: 120px;
    }
  }

  .glyphicon-remove {
    top: 15px;
    right: 15px;
    font-size: 20px;
    position: absolute;
    cursor: pointer;
  }
}


//pop-up info (right corner)
.pop-up__info {
  padding: 35px 40px 40px 25px;
  position: fixed;
  right: 15px;
  background: #232323;
  width: 320px;
  height: 144px;
  display: none;
  .glyphicon-remove {
    position: absolute;
    top: 10px;
    right: 5px;
    font-size: 15px;
    color: #f7bc00;
    cursor: pointer;
  }

  .pop-up__info_content { 
    font-size: 1.142857142857143em;
    color: #b8b8b8;
    margin-bottom: 0;
    padding-left: 55px;
    position: relative;
    &::before {
      content: '';
      background: url(../img/popUp-icons.png)no-repeat;
      background-size: cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 43px;
      height: 43px;
    }
  }

  .pop-up__info_number {
    font-size: 1.714285714285714em;
    color: #fff;
    padding-left: 55px;
  }
}

.pop-up__visitor { top: 15px; }

.pop-up__recall {
  top: 175px;
  .pop-up__info_content::before { background-position: -53px 0; }
}

.pop-up__purchase {
  top: 335px;
  .pop-up__info_content::before {  background-position: -106px 0; }
}