/* 0, 640px */
/* 641px, 1024px */
/* 1025px, 1440px */
/* 1441px, 1920px */
/* 1921px, ... */
/* color */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,700italic,400italic,300italic&subset=latin,cyrillic);
/* color */
/* line 1, /var/www/alote/sites/all/themes/dvcTheme/sass/starterkit/components/page-elements/_admin-menu.scss */
html body.admin-menu {
  margin-top: 0 !important;
  padding-top: 29px; }

/* line 5, /var/www/alote/sites/all/themes/dvcTheme/sass/starterkit/components/page-elements/_admin-menu.scss */
#admin-menu a {
  font-size: 11px; }

/* line 7, /var/www/alote/sites/all/themes/dvcTheme/sass/starterkit/components/page-elements/_layout.scss */
.two-sidebars .first-sidebar,
.two-sidebars .second-sidebar,
.two-sidebars .region-content,
.sidebar-first .first-sidebar,
.sidebar-first .second-sidebar,
.sidebar-first .region-content,
.sidebar-second .first-sidebar,
.sidebar-second .second-sidebar,
.sidebar-second .region-content {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0; }

@media (min-width: 960px) {
  /* line 16, /var/www/alote/sites/all/themes/dvcTheme/sass/starterkit/components/page-elements/_layout.scss */
  .two-sidebars .first-sidebar {
    width: 23.07692%;
    float: left;
    margin-right: 2.5641%; }
  /* line 19, /var/www/alote/sites/all/themes/dvcTheme/sass/starterkit/components/page-elements/_layout.scss */
  .two-sidebars .second-sidebar {
    width: 23.07692%;
    float: right;
    margin-right: 0; }
  /* line 22, /var/www/alote/sites/all/themes/dvcTheme/sass/starterkit/components/page-elements/_layout.scss */
  .two-sidebars .region-content {
    width: 48.71795%;
    float: left;
    margin-right: 2.5641%; }
  /* line 27, /var/www/alote/sites/all/themes/dvcTheme/sass/starterkit/components/page-elements/_layout.scss */
  .sidebar-first .first-sidebar {
    width: 23.07692%;
    float: left;
    margin-right: 2.5641%; }
  /* line 30, /var/www/alote/sites/all/themes/dvcTheme/sass/starterkit/components/page-elements/_layout.scss */
  .sidebar-first .region-content {
    width: 74.35897%;
    float: right;
    margin-right: 0; }
  /* line 35, /var/www/alote/sites/all/themes/dvcTheme/sass/starterkit/components/page-elements/_layout.scss */
  .sidebar-second .second-sidebar {
    width: 23.07692%;
    float: right;
    margin-right: 0; }
  /* line 38, /var/www/alote/sites/all/themes/dvcTheme/sass/starterkit/components/page-elements/_layout.scss */
  .sidebar-second .region-content {
    width: 74.35897%;
    float: left;
    margin-right: 2.5641%; } }

/* line 43, /var/www/alote/sites/all/themes/dvcTheme/sass/starterkit/components/page-elements/_layout.scss */
.post-content {
  padding-left: 15px;
  padding-left: 0.9375rem;
  padding-right: 15px;
  padding-right: 0.9375rem; }

@media (min-width: 768px) {
  /* line 43, /var/www/alote/sites/all/themes/dvcTheme/sass/starterkit/components/page-elements/_layout.scss */
  .post-content {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0; } }

@media (min-width: 960px) {
  /* line 43, /var/www/alote/sites/all/themes/dvcTheme/sass/starterkit/components/page-elements/_layout.scss */
  .post-content {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto; } }

@media (min-width: 1266px) {
  /* line 43, /var/www/alote/sites/all/themes/dvcTheme/sass/starterkit/components/page-elements/_layout.scss */
  .post-content {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto; } }

/* line 1, /var/www/alote/sites/all/themes/dvcTheme/sass/starterkit/components/page-elements/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* line 1, /var/www/alote/sites/all/themes/dvcTheme/sass/starterkit/components/page-elements/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 1, /var/www/alote/sites/all/themes/dvcTheme/sass/starterkit/components/page-elements/_reset.scss */
ol, ul {
  list-style: none; }

/* line 1, /var/www/alote/sites/all/themes/dvcTheme/sass/starterkit/components/page-elements/_reset.scss */
blockquote, q {
  quotes: none; }

/* line 1, /var/www/alote/sites/all/themes/dvcTheme/sass/starterkit/components/page-elements/_reset.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

/* line 1, /var/www/alote/sites/all/themes/dvcTheme/sass/starterkit/components/page-elements/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, /var/www/alote/sites/all/themes/dvcTheme/sass/starterkit/components/page-elements/_system-reset.scss */
.panels-flexible-2 .panels-flexible-row {
  padding: 0; }

/* line 31, /var/www/alote/sites/all/themes/dvcTheme/sass/starterkit/components/page-elements/_system-reset.scss */
.throbber {
  position: absolute; }

/* line 34, /var/www/alote/sites/all/themes/dvcTheme/sass/starterkit/components/page-elements/_system-reset.scss */
.panels-flexible-2 .panels-flexible-region-inside,
.ordering-main-wrapp .panels-flexible-region-inside,
.panels-flexible-1 .panels-flexible-region-inside {
  padding-right: 0;
  padding-left: 0; }

/* line 40, /var/www/alote/sites/all/themes/dvcTheme/sass/starterkit/components/page-elements/_system-reset.scss */
.panels-flexible-region-new-vk_widget {
  float: none;
  width: auto; }

/* line 44, /var/www/alote/sites/all/themes/dvcTheme/sass/starterkit/components/page-elements/_system-reset.scss */
.panels-flexible-new .panels-flexible-row {
  padding: 0; }

/*# sourceMappingURL=../sass */
