/* Breakpoints
// ========================================================================== */
/* 320px */
/* 480px */
/* 550px */
/* 680px */
/* 768px */
/* 980px */
/* 1024px */
@font-face {
	font-family: 'exo2';
	src: url('../fonts/exo_2_regular.eot');
	src: url('../fonts/exo_2_regular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/exo_2_regular.woff') format('woff'),
		 url('../fonts/exo_2_regular.ttf') format('truetype');
		font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'pfd';
	src: url('../fonts/pfdintextcondpro.eot');
	src: url('../fonts/pfdintextcondpro.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/pfdintextcondpro.woff') format('woff'),
		 url('../fonts/pfdintextcondpro.ttf') format('truetype');
		font-style: normal;
	font-weight: normal;
}

body {
	background-color: #fff;
	font: 100% 'pfd', "century gothic", arial, sans-serif;/*16px*/
	text-rendering: optimizeLegibility;/*делает особый акцент на то, чтобы текст хорошо читался в ущерб скорости и геометрической четкости. Кернинг и лигатуры включены.*/
	min-width: 822px;
}

h1, h2, h3, h4, h5, h6 {
	font: normal 170% 'pfd';
}

.wrapper {
	max-width: 980px;
	margin: 0 auto;
}



/* ========== header ==========*/
header {
	background: url(../img/header_bg.jpg) no-repeat;
	background-size: cover;
	padding-bottom: 4.5%;
}

.logo_bg {
	background: rgba(0, 36, 62, 0.7);
	padding-bottom: 0.6%;
}

.logo img {
	margin-top: 2.4%;
	float: left;
}

.contacts {
	float: right;
	max-width: 25.16666666666667%;
	margin-top: 2.25%;
	margin-right: 1.5%;
}

.callUs {
	background: url(../img/tel.gif) no-repeat 0 95%;
	padding-left: 2.5%;
}

.writeUs {
	background: url(../img/email.gif) no-repeat 0 95%;
	padding-left: 3.5%;
}

.contacts h3 {
	color: #00e4ff;
	font-family: 'exo2';
	font-size: 0.875rem;
	margin: 0 0 5px;
	text-align: left;
}

.contacts li {
	font-size: 1.125rem;
	color: #dcdcdc;
	font-family: 'exo2';
}


/* ========== navigation ========== */

.nav_bg {
	background: rgba(151, 193, 215, 0.7);
	border-top: 2px solid rgb(7, 227, 253);
}

nav {
	display: table;
	table-layout: auto;
	width: 100%;
}

nav a {
	display: table-cell;
	text-align: center;
	font: 1.125rem 'exo2';
}

nav a.active {
	padding: 10px 20px 10px 20px;
	background-color: rgba(231, 241, 242, 0.8);
}

.slogan{
	display: block;
	padding-top: 4.6%;
	padding-left: 22.2%;
}

.slogan h2 {
	font-size: 1.875rem;
}

.slogan h1 {
	font-size: 3rem;
	text-transform: uppercase;
}

/* ========== sidebar ========== */

aside{
	width: 21%;
	margin-top: 13.2%;
	margin-left: 5.2%;
	font-size: 0.8125rem;
	font-family: 'Trebuchet';
	float: left;
}

aside a {
	background: rgba(202, 223, 241, 0.9) url(../img/triangle.gif) no-repeat 95% 50%;;
	margin-bottom: 8px;
	padding: 8px 0 8px 17px;
	border-radius: 5px;
	width: 84%;
	display: block;
}

aside a.active{
	background-color: #ffb86c;
}


.images li{
	margin: 24% 0 28% 0;
	width: 92%;
	height: 273px;
	background-color: #ff8c11;
	border: 1px solid #ff8c11;
	border-radius: 5px;
	position: relative;
}

.images li .flag {
	background: url(../img/aside-flag.png) no-repeat;
	width: 68px;
	height: 56px;
	display: block;
	position: absolute;
	margin-left: 12px;
}

.images li em {
	margin-left: 42%;
	color: #fff;
	font: 1.125rem 'calibri';
}

.images li p {
	margin-left: 0.75em;
	color: #fff;
	font: 1.5rem 'calibri';
	line-height: 0.8em;
}

.images img {
	width: 100%;
	height: 73%;
}

.images h4 {
	color: #fff;
	margin-top: 8%;
	text-align: center;
	font:1.125rem "calibri"
}

/* ========== page content ========== */

article {
	width:73%;
	float: right;
}

.title {
	text-align: center;
	color: #424242;
	font-size:1.875rem;
	margin: 5% 0;
	padding-top: 2.8%;
	border-top: 1px solid #555555;
}

.proposition {
	margin-left: 6%;
	color: #424242;
	height: 183px;
	overflow: hidden;
}

.proposition h3 {
	font-size: 1.0625rem;
	border-bottom: 1px solid #e6af08;
	padding-bottom: 8px;
	width: 95%;
}

.proposition img {
	float: left;
	margin-top: 1%;
	margin-right: 2%;
	padding: 1px;
	border: 1px solid rgba(210,210,210,0.5);
}

.proposition p {
	font-size: 0.875rem;
	font-family: 'pfd';
	margin-top: 1%;
	margin-bottom: 1%;
}

.proposition a {
	color: #dfa801;
	font-size: 0.875rem;
	font-family: 'pfd';
	margin-top: 1%;
}

.btn {
	margin-top: 2.5%;
}

.btn a {
	background: url(../img/button.png);
	padding: 1%;
	border-radius: 5px;
	font: bold 0.8125rem 'calibri';
	color: #504f4f;
}

/* =========== best price ===========*/

.bestPrice_bg {
	padding: 15px 5px;
	background: #eaeaea;
}

.bestPrice {
	border-top: dashed 1px #bcbcbc;
	border-bottom: dashed 1px #bcbcbc;
	height: 123px;
	text-align: justify;
}

.bestPrice img {
	z-index: 1;
	position: relative;
	margin-top: -2.7%;
	margin-left: 3.5%;
}

.left_text, .right_text {
	width: 36%;
	font-family: 'pfd';
	color: #717171;
	padding: 2% 1%;
}

.left_text {
	float: left;
}

.right_text {
	float:right;
}

.right_text a {
	color: #0084bf;
	text-decoration: underline;
}

/*.social_networks_bg {
	background: url(../img/social_network_bg.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	padding-bottom: 2%;
}

.social_networks_bg h3 {
	text-transform: uppercase;
	text-align: center;
}

.social_column {
	width: 32%px;
	margin: 0 auto;
	float: left;
}
*/

/* ========== working_whiz ==========*/

.working_whiz h3 {
	text-transform: uppercase;
	text-align: center;
	border-top: solid 1px #555555;
	margin-top: 2%;
	padding-top: 2.8%;
	color: #555555;
}

.working_whiz ul {
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 100px;
	margin: 20px;
}

.working_whiz li {
	display: table-cell;
	background: url(../img/work_whiz.jpg) no-repeat;
	padding: 2%;
}

.working_whiz a {
	display: block;
	width: 100%;
	height: 50px;
}

.working_whiz li:first-child {
	background-position: -1% 0;
}
.working_whiz li:nth-child(2) {
	background-position: 24% 0;
}
.working_whiz li:nth-child(3) {
	background-position: 50% 0;
}
.working_whiz li:nth-child(4) {
	background-position: 76% 0;
}
.working_whiz li:nth-child(5) {
	background-position: 100% 0;
}

/* ========== footer ==========*/

footer {
	background-color: #f2f2f2;
	border-top: solid 1px #cfcfcf;
	border-bottom: solid 1px #cfcfcf;
}

footer ul {
	display: table;
	table-layout: auto;
	width: 80%;
	margin: 2% auto;
	border-bottom: solid 1px #cfcfcf;
	padding-bottom: 2%;
	text-align: center;
}

footer li {
	display: table-cell;
}

.footer_nav a{
	font: 1.125rem 'pfd';
	color: #555555;
}

.footer_nav a:hover{
	color: #000;
}

.footer_contact {
	width: 53%;
	margin: 2% auto;
	color: #312E2E;
}

.footer_tel {
	width: 40%;
	margin: 1% auto;
	color: #008AFF;
	font-size: 1.125rem;
}
.clearfix:after	{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}