@font-face {
  font-family: "HelveticaNeueCyr-Roman";
  src: url("../fonts/HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.eot");
  src: url("../fonts/HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.eot?#iefix") format('embedded-opentype'),
       url("../fonts/HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.woff") format('woff'),
       url("../fonts/HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeueCyr-Thin";
  src: url("../fonts/HelveticaNeueCyr-Thin/HelveticaNeueCyr-Thin.eot");
  src: url("../fonts/HelveticaNeueCyr-Thin/HelveticaNeueCyr-Thin.eot?#iefix") format('embedded-opentype'),
       url("../fonts/HelveticaNeueCyr-Thin/HelveticaNeueCyr-Thin.woff") format('woff'),
       url("../fonts/HelveticaNeueCyr-Thin/HelveticaNeueCyr-Thin.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Kudriashov";
  src: url("../fonts/Kudriashov/Kudriashov.eot");
  src: url("../fonts/Kudriashov/Kudriashov.eot?#iefix") format('embedded-opentype'),
       url("../fonts/Kudriashov/Kudriashov.woff") format('woff'),
       url("../fonts/Kudriashov/Kudriashov.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LirussTYGRA";
  src: url("../fonts/LirussTYGRA/LirussTYGRA.eot");
  src: url("../fonts/LirussTYGRA/LirussTYGRA.eot?#iefix") format('embedded-opentype'),
       url("../fonts/LirussTYGRA/LirussTYGRA.woff") format('woff'),
       url("../fonts/LirussTYGRA/LirussTYGRA.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

// svg icons
@font-face {
  font-family: 'myfonts';
  src: url("../fonts/myFont/myFont.eot");
  src: url("../fonts/myFont/myFont.eot?#iefix") format('embedded-opentype'),
       url("../fonts/myFont/myFont.woff") format('woff'),
       url("../fonts/myFont/myFont.ttf") format('truetype'),
       url("../fonts/myFont/myFont.svg#myfonts") format('svg');
  font-weight: normal;
  font-style: normal;
}
.my {
  color: #666;
  display: inline-block;
  font-family: 'myfonts';
  font-size: 16px;
  font-style: normal;
  position: absolute;
  text-rendering: auto;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.my_a:before {
  content: 'a';
}
.my_b:before {
  content: 'b';
}
.my_c:before {
  content: 'c';
}
.my_d:before {
  content: 'd';
}
