* { box-sizing: border-box; }
body {
  background: #fff;
  color: #4c4b4d;
  font-family: "Alef-Regular", sans-serif;
  font-size: 16px;
  position: relative;
  min-width: 320px;
}
input {
  border: none;
  color: #313131;
  font: 2.1rem "Alef-Regular"; 
  height: 45px;
  line-height: 45px;
  outline: none;
  padding: 0 15px;
  width: 100%;
}
input:focus::-webkit-input-placeholder {
  transition: 1s ease-in-out;
  transform: translate(100%, 0);
  opacity: 0;
}
input:focus::-moz-placeholder {
  transition: 1s ease-in-out;
  transform: translate(100%, 0);
  opacity: 0; 
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  text-transform: uppercase;
  width: 100%;
  &:hover { opacity: .8; }
}

img { width: 100%; }

h2 {
  font: 400 2.158125rem "Alef-Regular";
}