@font-face {
  font-family: "Alef-Regular";
  src: url("../fonts/Alef-Regular/Alef-Regular.eot");
  src: url("../fonts/Alef-Regular/Alef-Regular.eot?#iefix") format('embedded-opentype'),
       url("../fonts/Alef-Regular/Alef-Regular.woff") format('woff'),
       url("../fonts/Alef-Regular/Alef-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
