$susy: (
  gutters: 30px/70px,
);
.two-sidebars,
.sidebar-first,
.sidebar-second {
  .first-sidebar,
  .second-sidebar,
  .region-content {
    @include span(12 of 12);
  }
}

@include breakpoint($max_device_width) {
  .two-sidebars {
    .first-sidebar {
      @include span(3 of 12 first);
    }
    .second-sidebar {
      @include span(3 of 12 last);
    }
    .region-content {
      @include span(6 of 12);
    }
  }
  .sidebar-first {
    .first-sidebar {
      @include span(3 of 12 first);
    }
    .region-content {
      @include span(9 of 12 last);
    }
  }
  .sidebar-second {
    .second-sidebar {
      @include span(3 of 12 last);
    }
    .region-content {
      @include span(9 of 12 first);
    }
  }
}
.post-content {
  @include main-container;
}
