/* =====================================================================
                                                                   HEADER
====================================================================== */
.header {
  background: rgba(255,255,255,.9);
  padding: 20px 0;
  position: fixed;
  top: 0;
  transition: .3s;
  width: 100%;
  z-index: 100;
}

.nav-block {
  @include flex;
  align-items: center;
}

.nav-hidden { display: none; }

// when scrolled using this class
.fixed {
  .nav-hidden { display: block; }
  .header-text {
    transform: scale(0);
    position: absolute;
    top: 0;
  }
}

.underline {
  color: #78757f;
  &::before {
    @include line($width: 130%, $height: 3px, $background: #cd9e47);
    top: 30px;
    left: -14%;
    opacity: 0;
    transform: scaleX(0);
    transition: all .3s ease-in-out 0s;
  }
  &:hover::before { opacity: 1; transform: scaleX(1); }
  &:hover { color: #cd9e47; }
}

.header-text {
  font-family: "HelveticaNeueCyr-Roman";
  font-size: 1.25rem; //20px
  transition: .5s;
  transform: scale(1);
  width: 21%;
}

.header-tel {
  font-size: 1rem;//16px
  font-style: italic;
  position: relative;
  & span { font-size: 1.5rem;  font-weight: bold; } //24px
  .my_a {
    color: #cd9e47;
    font-size: 1.5rem;//24px
    left: -30px;
  }
}



/* =====================================================================
                                                                   BANNER
====================================================================== */
.banner {  
  background: url(../img/banner_bg.jpg) no-repeat;
  background-size: cover;
  box-shadow: 0px -10px 15px -7px rgba(0, 0, 0, 0.37); 
  position: relative; 
  top: 100px;
  height: 720px;
  overflow: hidden;
  &__video {

    video {
      width: 100%;
    }
  }
 }

.banner__content { 
  background: rgba(0,0,0,.2);
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.nav-left {
  @include flex($width: 35%);
  float: left;
}

.nav-right {
  @include flex($width: 35%);
  float: right;
}

.logo {
  background: url(../img/logo-white.svg) no-repeat;
  height: 155px;
  margin: auto;
  width: 280px;
}

.dbl-line {
  color: #fff;
  display: inline-block;
  height: 30px;
  line-height: 28px;
  margin-top: 45px;
  &::before,
  &::after {
    @include line($width: 130%, $background: #fff, $height: 1px);
    left: -15%;
  }
  &::before { top: 0; }
  &::after { bottom: 0; }
  &:hover::before {
    animation: floating_l ease-in-out .8s;
    height: 2px;
    transform: translate(0px, 27px);
  }
  &:hover::after { animation: floating_r ease-in-out .8s; }
}

//proposition
.proposition {
  background: url(../img/head_prop.png) no-repeat;
  background-size: 100% 100%;
  height: 405px;
  margin: 50px auto;
  max-width: 585px;
  padding: 2% 4%;
  text-align: center;
  width: 100%;
}

.prop__content { height: 315px; overflow: hidden; }

.border-bottom {
  font-size: 2.1875rem;//35px
  display: block;
  &::after {
    @include line($width: 100%, $background: #fff, $height: 2px);
    margin: 10px auto;
    position: static;
  }
}

.dotted-bg {
  display: block;
  font-size: 2.5625rem;//41px
  position: relative;
  &::before,
  &::after {
    @include line($width: 26%, $background: url(../img/dotted_line.png) repeat-x, $height: 6px);
    top: 24px;
  }
  &::before { left: 0; }
  &::after { right: 0; }
}

.border-top {
  display: block;
  position: relative;
  margin-bottom: 10px;
  padding-top: 20px;
  &::before {
    @include line($width: 100%, $background: #fff, $height: 2px);
    margin: 10px auto;
    top: -5px;
  }
}

.main-slogan {
  font: 300 1.2rem "HelveticaNeueCyr-Thin";//19.2px
  &::before { height: 1px; }
}



/* =====================================================================
                                                              REQUEST-BLOCK
====================================================================== */
.request-block {
  background: url(../img/request_bg.jpg) no-repeat fixed;
  background-size: cover;
  margin-top: 100px;
}

.request__bg {
  background: url(../img/request_bg1.png) no-repeat;
  background-size: 100% 100%;
  padding: 50px;
  text-align: center;
  width: 100%;
  &_text-top { font: 5rem 'LirussTYGRA'; }//80px
  &_text  { 
    &::before {
      @include line($width: 30%, $background: #fa8578, $height: 2px);
      margin: 0 auto 20px;
      position: static;
    }
  }
}



/* =====================================================================
                                                             ABOUT
====================================================================== */
.list__item { float: left; }

.left-side {
  @include left-side($width: 50%);
  transition: .5s;
}
.right-side {
  @include right-side($width: 50%);
  transition: .5s;
}

.list-text {
  @include flex-col;
  position: relative;
  transition: 1s;
  &::before {
    @include line($width: auto, $background: transparent, $height: auto);
    color: rgba(191,133,26,.5);
    font: 400 16.25rem 'Kudriashov';//260px
    transition: 1.3s;
    z-index: -1;
  }
  h4 { 
    border-bottom: 2px dashed #4c4b4d;;
    margin-bottom: 15px; 
  }
}

.about-list .list__item:nth-child(odd) .list-text { padding-right: 4em; }
.about-list .list__item:nth-child(even) .list-text { padding-left: 4em; }

.about-list .list__item:nth-child(1) .list-text::before { content: '1'; }
.about-list .list__item:nth-child(2) .list-text::before { content: '2'; }
.about-list .list__item:nth-child(3) .list-text::before { content: '3'; }
.about-list .list__item:nth-child(4) .list-text::before { content: '4'; }
.about-list .list__item:nth-child(5) .list-text::before { content: '5'; }

.list-img { height: 500px; }



/* =====================================================================
                                                                  VIDEO
====================================================================== */
.video {
  background: url(../img/video_bg.jpg) no-repeat fixed;
  background-size: cover;
  text-align: center;
  &__content { padding: 0 5em; }
  video { 
    height: 500px; 
    max-width: 766px; 
    width: 100%;
  }
}

.video_title { 
  font: 400 2.6875rem 'Kudriashov';//43px
  &::before { @include section-title_line; }
}

.video_text { margin: 10px; }



/* =====================================================================
                                                                  PORTFOLIO
====================================================================== */
.result { 
  border: 2px solid #898888;
  margin-top: 30px;
  min-height: 520px;
  padding: 10px; 
  overflow: hidden;
}

.result:nth-child(even) .text { float: left; text-align: right; }
.result:nth-child(odd) .text { float: right; }

.result:nth-child(even) .res__img_big,
.result:nth-child(odd) .res__img_small { float: left; margin-left: 0;}

.result:nth-child(even) .res__img_small,
.result:nth-child(odd) .res__img_big { float: right; }

.result:nth-child(odd) .res__img_small { float: left; }

//text
.text { padding: 1em 3em 0; width: 38%; }
.result__name { 
  color: #cd9e47;
  text-transform: uppercase;
  &::after {
    @include line($width: 70%, $height: 1px, $background: #cd9e47);
    display: inline-block;
    position: static;
  }
}
.result__wed-name { margin: 10px 0 15px; }
.result__item { margin-bottom: 40px; }
.result_title { color: #898888; font: 700 1.0625rem "HelveticaNeueCyr-Roman"; }
.result_text { color: #898888; font: 1rem "HelveticaNeueCyr-Thin"; margin-top: 5px; }

//images
.res-img { 
  display: inline-block;
  width: 62%;
  //animating images
  .zoom { transform: scale(.6); opacity: 0; }
}
.res__img_big {
  height: 510px;
  opacity: 1; 
  transition: .5s;
  width: 350px;
}
.res__img_small { 
  height: 250px; 
  margin-bottom: 10px; 
  margin-left: 10px;
  opacity: 1; 
  transition: .5s;
  width: 330px; 
}

//open-gallery pop-up window
#pop_gallery {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 0 35px rgba(0,0,0,.5);
  height: 1000px;
  left: 50%;
  margin-left: -25%;;
  padding: 20px;
  position: absolute;
  transform: scale(1.4);
  transition: 2s;
  width: 50vw;
  z-index: 5;
  //border in pop-up window
  &::before {
    border: 2px solid #cd9e47;
    border-radius: 10px;
    content: '';
    display: block;
    height: 98%;
    left: 1%;
    position: absolute;
    top: 10px;
    width: 97.5%;
  }
  .result__name::after { width: 100%; }
  .pop_foto {
    height: calc(100% - 160px);
    overflow-y: scroll;
    position: relative;
  }
}//pop-up window end



/* =====================================================================
                                                                   PRICE
====================================================================== */
.price_block {
  background: url(../img/cost.jpg) no-repeat fixed;
  background-size: cover;
}

.table_bg { 
  background: #fff;
  border-radius: 50px;
  padding: 50px;
  text-align: center;
  .table_title { 
    font: 700 1.5625rem  'HelveticaNeueCyr-Roman';
    &::after { 
      @include line($width: 100%, $background: #fa8578, $height: 2px);
      position: static;
      margin: 30px 0;
    }
  }
  .table_budget::before {
    @include line($width: 100%, $background: #fa8578, $height: 2px);
    position: static;
    margin: 30px 0;
  }
}
.price-table {
  width: 100%;
  &_body-title {
    height: 45px;
    background: #cd9e47;
    color: #fff;
    font: 700 1.3125rem/45px "HelveticaNeueCyr-Roman";
    padding-left: 10px;
    vertical-align: middle;
  }
  .guests { width: 50%; }
  .district { width: 25%;}
  .border { border-left: 5px solid #fff; border-right: 5px solid #fff; }
  .empty { height: 30px; }
  &_info {
    font: 300 1rem/33px "HelveticaNeueCyr-Roman";
    padding-left: 15px;
  }
}
.price-small { 
  display: none;
  margin-bottom: 10px;
  li {
    border: 1px solid #333;
    font-size: 1.2rem;
    padding: 10px 0 ;
  }
  .price-small_city { font-size: 1.5rem;  font-weight: bold; }

}



/* =====================================================================
                                                                   CONTRACT
====================================================================== */
.contract { margin-top: 40px; }
.contract__item { 
  display: inline-block;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.contract_photo {
  img { width: 361px; height: 361px; }
}

.contract__item:nth-child(odd) .contract_photo { float: left; }
.contract__item:nth-child(even) .contract_photo { float: right; }

//text style
.contract__item:nth-child(odd) .contract__text { float: right; }
.contract__item:nth-child(even) .contract__text { float: left; text-align: right; }

.contract__item:nth-child(odd) .contract__text::before { left: -14%; }
.contract__item:nth-child(even) .contract__text::before { right: -13%; }

.contract__item:nth-child(1) .contract__text::before { content:'1'; }
.contract__item:nth-child(2) .contract__text::before { content:'2'; }
.contract__item:nth-child(3) .contract__text::before { content:'3'; }
.contract__item:nth-child(4) .contract__text::before { content:'4'; }
.contract__item:nth-child(5) .contract__text::before { content:'5'; }
.contract__item:nth-child(6) .contract__text::before { content:'6'; }
.contract__item:nth-child(7) .contract__text::before { content:'7'; }
.contract__item:nth-child(8) .contract__text::before { content:'8'; }

.contract__text {
  display: flex;
  flex-direction: column;
  height: 360px;
  justify-content: center;
  position: relative;
  transition: 1s;
  width: 65%;
  &::before {
  color: rgba(191,133,26,.8);
  font: 400 12.25rem 'Kudriashov';//260px
  position: absolute;
  top: 25%;
  }
  &_title {
    color: #4a4a4a;
    text-transform: uppercase;
    font: 700 1.5625rem "HelveticaNeueCyr-Roman";
    &::after { 
      @include line($width: 100%, $background: #cd9e47, $height: 1px);
      position: static;
      margin: 20px 0;
    }
  }
  &_content { font: 300 1.25rem/30px 'HelveticaNeueCyr-Thin'; }
}



/* =====================================================================
                                                                  DICSCOUNT
====================================================================== */
.discount { background: #f7ecd6; }

.discount__left{ @include left-side($width: 22%); margin-right: 4%; }
.discount__right{ @include right-side($width: 74%); }

.discount_date { font: 400 4em 'Kudriashov'; } //64px
.discount__left_img { 
  background: url(../img/discount.png) no-repeat;
  background-size: cover;
  height: 149px;
  margin: 40px auto;
  transition: 1s ease;
  width: 163px;
  &:hover { transform: rotate(720deg); }
}
.discount_about { font: 400 2.125rem 'Kudriashov'; text-transform: uppercase; }
.discount_content {
  font: 300 1.5rem 'Kudriashov';//24px
  margin-top: 10px;
  &::after { 
    @include line($width: 100%, $background: #fa8578, $height: 2px);
    position: static;
    margin: 35px 0;
    }
  }
  .discount_form { max-width: 250px; }



/* =====================================================================
                                                                  TEAM
====================================================================== */
.team__block {
  background: url(../img/team_bg.jpg) no-repeat fixed;
  background-size: cover;
}
.team__photo { @include flex($width: 100%); }
.team__item {
  text-align: center;
  width: 32%;
}
.team__photo_sm { height: 502px;}
.team__photo_big { height: 537px;}
.team__photo_signature {
  font: 700 1.4375rem "HelveticaNeueCyr-Roman";
  height: 93px;
  overflow: hidden;
  padding: 15px;
  text-align: center;
  span { 
    display: block;
    font-size: 1rem;
    margin-top: 10px;
  }
}

.team__sert { @include flex($width: 100%); margin-top: 10px; }
.sert_item { width: 33%; text-align: center;}
.sert_sm { height: 138px; max-width: 195px; } 
.sert_big { height: 253px; max-width: 358px; }
.sert_signature {
  font: 300 1.3125rem/25px "HelveticaNeueCyr-Thin"; 
  height: 100px;
  overflow: hidden;
  margin-top: 15px;
}