.all-services-page {
  text-align: center;
  img {
    margin: 0 auto;
  }
  .views-row {
    @include rem(margin-bottom, 35px);
    &-last {
      @include rem(margin-bottom, 55px);
    }
  }
  a {
    text-decoration: none;
  }
  .views-field-field-tax-image {
    @include rem(margin-bottom, 20px);
  }
  .parent {
    @include rem(margin-bottom, 7px);
    a {
      @include rem(font-size, 18px);
      @include rem(line-height, 24px);
      color: $black;
      font-weight: 700;
    }
  }
  .child {
    a {
      font-weight: 300;
    }
  }
}

// Homepage btn
.allservices {
  clear: both;
  padding-top: 1px;
  a {
    @include main-btn;
    display: block;
    margin: 30px auto 0 auto;
  }
}

@include breakpoint($mid_device_width) {
  .all-services-page {
    @include clr;
    .views-row {
      float: left;
      text-align: left;
      width: 50%;
      &:nth-child(odd) {
        clear: both;
      }
    }
    .views-field-field-tax-image {
      @include rem(width, 70px);
      float: left;
    }
    .parent,
    .child {
      @include rem(margin-left, 100px);
    }
  }
}

@include breakpoint($min_width) {
  .all-services-page {
    .parent a:hover {
      color: $btn-color;
      text-decoration: underline;
    }
    .views-row {
      @include span(4 of 12);
      &:nth-child(odd) {
        clear: none;
      }
      &:nth-child(3n+3) {
        @include last;
      }
      &:nth-child(3n+4) {
        clear: both;
      }
    }
  }
}
