.comment-wrapper {
  @include rem(max-width, 500px);
  @include rem(margin-top, 15px);
  .comment {
    @include rem(margin, 20px 0);
  }
  h2 {
    @include rem(font-size, 20px);
    @include rem(line-height, 18px);;
    @include rem(margin-bottom, 57px);
    color: $black;
    font-weight: $bold;
    &:first-letter {
      color: $btn-color;
    }
  }
  .attribution {
    @include clr;
    @include rem(height, 35px);
  }
  .user-picture {
    @include rem(margin-right, 10px);
    @include rem(max-height, 70px);
    @include rem(max-width, 70px);
    float: left;
  }
  .comment-submitted{
    @include rem(height, 35px);
    @include rem(margin-left, 80px);
    @include rem(padding-top, 16px);
    border-bottom: 1px solid $btn-color;
  }
  .commenter-name {
    float: left;
    a {
      @include rem(font-size, 16px);
      @include rem(line-height, 18px);
      @include rem(padding-left, 11px);
      color: $black;
      font-weight: $bold;
      text-decoration: none;
    }
  }
  .comment-time {
    @include rem(font-size, 12px) ;
    @include rem(line-height, 18px);
    @include rem(padding-right, 11px);
    color: $main-text-color;
    float: right;
    font-style: italic;
    * {
      @include rem(font-size, 12px) ;
    }
  }
  h3 {
    @include rem(margin-top, 10px);
  }
  .comment-text {
    @include rem(margin-top, 9px);
    p {
      @include rem(font-size, 16px);
      @include rem(line-height, 18px);
      color: $main-text-color;
      font-weight: $normal;
      word-break: break-all;
    }
  }
}
