div.fivestar-widget-static .star {
  background: url('../images/icons/star-blue.png') no-repeat;
  span.on {
    background: url('../images/icons/star-blue.png') no-repeat;
  }
  span.off {
    background: url('../images/icons/star-grey.png') no-repeat;
  }
}
div.fivestar-widget {
  .star,
  .star a,
  .star.on,
  .star.on a {
    background-position: 0;
    background: url('../images/icons/star-grey.png') no-repeat;
  }
  .star.hover,
  .star.hover a,
  .star.on.hover,
  .star.on.hover a {
    background: url('../images/icons/star-blue.png') no-repeat;
  }
}
