.footer {
  overflow: hidden;
}
.new-in-site {
  @include clr;
  @include rem(padding, 15px 0);
  background-color: $btn-hover-color;

  .view-slyder {
    @include main-container;
    margin: 0 auto;
  }

  .views-label-field-new-in-site {
    @include rem(margin-bottom, 16px);
    display: inline-block;
    font-weight: $bold;
  }

  .view-content {
    @include rem(padding-bottom, 28px);
  }

  .footer-year {
    @include rem(margin-bottom, 17px);
  }

  .view-footer {
    @include clr;
    @include rem(padding-top, 28px);
    border-top: 1px solid $main-text-color;
  }
}

// Tablet
@include breakpoint($mid_device_width) {
  .new-in-site {
    .footer-year {
      float: left;
    }

    .footer-dev-company {
      float: right;
    }
  }
}

// Desctop
@include breakpoint($min_width) {
  .new-in-site {
    @include rem(padding-bottom, 30px);
    @include rem(padding-top, 57px);

    .view-content {
      @include rem(padding-bottom, 57px);
    }

    .footer-year {
      float: left;
    }

    .footer-dev-company {
      float: right;
    }
  }
}
