/* Select list */
.chosen-container .chosen-results li.highlighted {
  background: none;
}
.chosen-container-active.chosen-with-drop .chosen-single {
  @include border-radius(10px);
  background: $transparent;
  border: 1px solid $input-border;
  div b {
    transform: rotate(180deg);
    background-position: 8px center;
  }
}
.chosen-container {
  * {
    box-shadow: none !important;
    outline: none !important;
  }
  .chosen-single {
    @include border-radius(10px);
    @include rem(max-width, 270px);
    @include rem(padding, 12px 10px);
    background: $transparent;
    border: 1px solid $input-border;
    height: auto;
    width: 100%;
    span {
      @include rem(font-size, 14px);
      color: $main-text-color;
    }
    div b {
      background: url('../images/icons/v.png') center no-repeat;
      background-position: 0px center;
    }
  }
  .chosen-drop {
    @include border-radius(10px);
    @include rem(max-width, 270px);
    background: $select-drop-bg;
    box-shadow: none;
    margin-top: 0;
    width: 100%;
    .chosen-results li {
      @include rem(font-size, 14px);
      color: $black;
    }
    .chosen-results li:hover {
      background: $transparent;
      color: $white;
    }
  }
}

/* Search form */
#search-block-form {
  position: relative;
  .form-submit {
    @include rem(height, 18px);
    @include rem(right, 16px);
    @include rem(width, 20px);
    @include transform(translateY(-50%));
    background: url('../images/icons/search-icon.png') no-repeat;
    float: right;
    font-size: 0;
    padding: 0;
    position: absolute;
    top: 50%;
  }
}

/* Cancel link */
#edit-cancel {
  @include rem(font-size, 18px);
  @include rem(margin-left, 20px);
}

/* File input */
.form-managed-file .form-file {
  @include rem(margin-right, 15px);
}
.form-item,
.form-actions {
  margin: 10px 0;
}

/* Other elements */
.description {
  @include rem(margin-top, 5px);
}
.element-invisible,
.grippie {
  display: none;
}
