.captcha {
  -webkit-transform-origin: 0 0;
  -webkit-transform: scale(0.825);
  @include rem(margin-bottom, -14px);
  @include rem(margin-left, 6px);
  @include rem(margin-top, 10px);
  transform-origin: 0 0;
  transform: scale(0.825);
}
#modalBackdrop {
  position: fixed !important;
}
.modal-default {
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%);
}
div.ctools-modal-content {
  @include rem(max-width, 290px);
  background: $select-drop-bg;
  border: none;
  height: auto;
  margin: 0 auto;
  .modal-header {
    .modal-title{
      display: none;
    }
    background-color: $select-drop-bg;
    img {
      display: none;
    }
    a {
      @include rem(height, 11px);
      @include rem(margin-right, 10px);
      @include rem(margin-top, 10px);
      @include rem(width, 10px);
      background: transparent url('../images/icons/X.png') 0px 0px no-repeat;
      &:focus,:hover,:active {
        outline: none;
      }
    }
  }
  .modal-content {
    background: $select-drop-bg;
    max-width: 100%;
    padding-top: 0;
    text-align: center;
    .required-fields h3 {
      @include rem(font-size, 16px);
      @include rem(line-height, 24px);
      @include rem(margin-top, 5px);
      color: $black;
      font-weight: $bold;
      text-align: center;
    }
    .user-info-from-cookie {
      .form-submit {
        @include rem(margin-bottom, 8px);
        @include rem(max-width, 250px);
      }
    }
    .title-login {
      @include rem(font-size, 16px);
      @include rem(line-height, 24px);
      @include rem(margin-top, 5px);
      color: $black;
      font-weight: $bold;
      text-align: center;
    }
    .create-account a {
      color: $white;
    }
    .foggot-password {
      @include rem(padding-top, 13px);
      float: right;
    }
    .item-list h3 {
      @include rem(font-size, 16px);
      @include rem(line-height, 24px);
      color: $black;
      font-weight: $bold;
      text-align: center;
    }
    .form-text {
      @include rem(border-radius, 0px);
      @include rem(max-height, 40px);
      @include rem(max-width, 250px);
      border: 1px solid $main-text-color;
    }
    .form-item {
      margin: 0;
      input {
        @include rem(padding, 10px 10px);
      }
    }
    .form-submit {
      @include rem(max-height, 50px);
      @include rem(max-width, 141px);
    }
    .form-required {
      display: none;
    }
    .form-checkbox {
      @include rem(margin-left, 13px);
      @include rem(margin-right, 22px);
    }
    .form-type-checkbox {
      color: $main-text-color;
      display: inline-block;
      margin-bottom: 17px !important;
      input {
        vertical-align: middle;
      }
    }
    .foggot-password {
      @include rem(font-size, 12px);
    }
    .create-account {
      @include rem(margin-top, 8px);
    }
    .foggot-password a {
      @include rem(margin-left, 17px);
    }
  }
  ul.hybridauth-widget {
    @include rem(max-width, 190px);
    margin: 0 auto;
    text-align: center;
  }
  .hybridauth-icon  {
    @include rem(height, 42px);
    @include rem(width, 42px);
    opacity: 1;
  }
  .vkontakte {
    @include rem(margin-right, 25px);
    background: transparent url('../images/icons/vk.png') 0px 0px no-repeat;
  }
  .mailru{
    @include rem(margin-right, 25px);
    background: transparent url('../images/icons/mail.png') 0px 0px no-repeat;
  }
  .twitter{
    background: transparent url('../images/icons/twitter.png') 0px 0px no-repeat;
  }
  .facebook{
    @include rem(margin-right, 25px);
    background: transparent url('../images/icons/fc.png') 0px 0px no-repeat;
  }
  .odnoklassniki{
    @include rem(margin-right, 25px);
    background: transparent url('../images/icons/ok.png') 0px 0px no-repeat;
  }
  .google{
    background: transparent url('../images/icons/google.png') 0px 0px no-repeat;
  }
}

@include breakpoint($min_width ) {
  .captcha {
    @include rem(margin-bottom, 5px);
    @include rem(margin-left, 36px);
    @include rem(margin-top, 10px);
    -webkit-transform-origin: 0 0;
    -webkit-transform: scale(0.89);
    transform-origin: 0 0;
    transform: scale(0.89);
  }
  div.ctools-modal-content {
    @include rem(max-width, 370px);
    ul.hybridauth-widget {
      @include rem(max-width, 275px);
      margin: 0 auto;
      text-align: center;
    }
    .modal-header {
      .modal-title{
       display: none;
    }
      img {
        display: none;
      }
      a {
        @include rem(height, 25px);
        @include rem(margin-right, -16px);
        @include rem(margin-top, -18px);
        @include rem(width, 25px);
        background: transparent url('../images/icons/close-d.png') 0px 0px no-repeat;
      }
    }
    .hybridauth-icon {
      @include rem(height, 70px);
      @include rem(margin-bottom, 5px);
      @include rem(width, 70px);
      opacity: 1;
    }
    .vkontakte {
      @include rem(margin-right, 25px);
      background: transparent url('../images/icons/vk-d.png') 0px 0px no-repeat;
      &:hover {
        background: transparent url('../images/icons/vk-d-h.png') 0px 0px no-repeat;
      }
    }
    .mailru {
      @include rem(margin-right, 25px);
      background: transparent url('../images/icons/mail-d.png') 0px 0px no-repeat;
      &:hover {
        background: transparent url('../images/icons/mail-d-h.png') 0px 0px no-repeat;
      }
    }
    .twitter {
      background: transparent url('../images/icons/twit-d.png') 0px 0px no-repeat;
      &:hover {
        background: transparent url('../images/icons/twit-d-h.png') 0px 0px no-repeat;
      }
    }
    .facebook {
      @include rem(margin-right, 25px);
      background: transparent url('../images/icons/fc-d.png') 0px 0px no-repeat;
      &:hover {
        background: transparent url('../images/icons/fc-d-h.png') 0px 0px no-repeat;
      }
    }
    .odnoklassniki {
      @include rem(margin-right, 25px);
      background: transparent url('../images/icons/ok-d.png') 0px 0px no-repeat;
      &:hover {
        background: transparent url('../images/icons/ok-d-h.png') 0px 0px no-repeat;
      }
    }
    .google {
      background: transparent url('../images/icons/g-d.png') 0px 0px no-repeat;
      &:hover {
        background: transparent url('../images/icons/g-d-h.png') 0px 0px no-repeat;
      }
    }
    .modal-content {
      .form-type-checkbox {
        @include rem(margin-top, 25px);
      }
      .user-info-from-cookie {
        .form-submit {
          @include rem(margin-bottom, 26px);
          @include rem(max-width, 270px);
        }
      }
      .foggot-password {
      @include rem(font-size, 14px);
      }
      .form-text {
        @include rem(max-height, 40px);
        @include rem(max-width, 270px);
      }
      .title-login {
        @include rem(margin-bottom, 13px);
        @include rem(margin-top, 10px);
      }
      .item-list h3 {
        @include rem(margin-bottom, 22px);
        @include rem(margin-top, 15px);
      }
      .form-item {
        @include rem(margin-bottom, 10px);
      }
      .form-actions {
        @include rem(max-width, 270px);
        margin: 0 auto;
        .create-account {
          @include rem(font-size, 16px);
          @include rem(margin-bottom, 26px);
          @include rem(margin-top, 26px);
        }
      }
    }
  }
}
