#colorbox {
  max-width: 100% !important;
  height: 350px !important;
  #cboxLoadedContent {
    overflow-y: hidden !important;
    background: #ccd6dd;
    max-width: 100%;
    height: 350px !important;
    .title {
    margin-top: 20px;
    }
  }

  #cboxWrapper {
    max-width: 100%;
  }
  #cboxContent {
    max-width: 100%;
  }
  .vote-form {
    input {
      margin-bottom: 15px;
    }
  }
  .links {
    text-align: center;
  }
  #cboxClose {
    background: url("../images/icons/close-how.png") no-repeat;
    top: 5px;
    right: 7px;
    width: 11px;
    height: 11px;
  }
}
