.possible {
  .possible-make-btn {
    display: none;
  }
  .possible-title {
    @include rem(font-size, 35px);
    @include rem(margin-bottom, 39px);
    @include rem(margin-top, 53px);
    color: $black;
    font-weight: 400;
    text-align: center;
  }
  .possible-make,
  .possible-offers,
  .possible-services:after,
  .possible-services {
    @include rem(max-width, 290px);
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }
  .possible-make {
    @include rem(height, 248px);
    background: url('../images/posible1.png') no-repeat;
    .views-field-field-create-task {
      @include rem(padding-top, 3px);
      @include rem(margin-bottom, 6px);
    }
  }
  .possible-offers {
    @include rem(height, 335px);
    background: url('../images/posible2-m.png') center bottom no-repeat;
    .views-field-field-offers {
      @include rem(margin-bottom, 13px);
      @include rem(margin-top, 36px);
    }
  }
  .possible-services {
    &:after {
      @include rem(height, 137px);
      background: url('../images/posible3-m.jpg') center  no-repeat;
      content: '';
      display: block;
    }
    .view {
      @include clr;
      .views-field-field-blocks-icons,
      .views-field-field-blocks-icons-1 {
        text-align: left;
      }
    }
    img {
      vertical-align: middle;
      text-align: left;
      display: inline-block;
      @include rem(height, 30px);
      @include rem(width, 30px);
    }
    .views-field-field-block-services {
      @include rem(margin-bottom, 13px);
      @include rem(margin-top, 35px);
    }
    .views-field-field-blocks-icons,
    .views-field-field-blocks-icons-1 {
      @include rem(margin-top, 16px);
      float: left;
    }
    .views-field-field-blocks-icons {
      @include rem(margin-right, 13px);
    }
  }
  .views-field-field-block-services,
  .views-field-field-offers,
  .views-field-field-create-task {
    @include rem(font-size, 20px);
    color: $black;
    font-weight: $bold;
    &:first-letter {
      color: $btn-color;
    }
  }
}

/******************************************************/

@include breakpoint($mid_device_width) {
  .possible {
    &.panels-flexible-row {
      @include rem(margin-bottom, 60px);
    }
    .possible-make,
    .possible-offers,
    .possible-services:after,
    .possible-services {
      max-width: 100%;
    }
    .possible-make-btn {
      clear: both;
      display: block;
      p a {
        @include main-btn;
        display: block;
        margin: 0 auto;
      }
    }
    .pane-advantages-of-alote {
      @include span(12 of 12);
      &:nth-child(even) {
        clear: both;
      }
      &.possible-services {
        @include span(12 of 12);
      }
    }
    .possible-make {
      @include rem(height, 440px);
      background: url('../images/posible1-d.png') no-repeat;
      .view-advantages-of-alote {
        @include span(isolate 3 of 6 at 4);
        text-align: left;
      }
    }
    .possible-offers {
      @include rem(height, 350px);
      background: url('../images/posible2-d.png') right no-repeat;
      .view-advantages-of-alote {
        @include span(isolate 5 of 6 at 1);
      }
      .views-field-field-offers {
        @include rem(margin-top, 0);
        text-align: left;
      }
      .views-field-field-about-offers {
        @include rem(max-width, 302px);
        text-align: left;
      }
    }
    .possible-services {
      @include rem(height, 450px);
      @include rem(margin-bottom, 63px);
      @include rem(margin-left, 80px);
      @include span(12 of 12);
      background: url('../images/posible3-d.jpg') right bottom no-repeat;
      display: block;
      &:after {
        content: '';
        display:none;
       }
      .view-advantages-of-alote {
        @include span(isolate 5 of 6 at 1);
        text-align: left;
      }
      .pane-content {
        @include span(6 of 12);
      }
    }
  }
}
@include breakpoint($min_width) {
  .possible {
  &.panels-flexible-row {
    @include rem(margin-bottom, 120px);
  }
    .pane-advantages-of-alote {
      @include span(6 of 12);
      &:nth-child(odd) {
        @include last;
      }
    }
    .possible-make {
      .view-advantages-of-alote {
        @include span(isolate 3 of 6 at 3);
      }
    }
    .possible-offers {
      .view-advantages-of-alote {
        @include span(isolate 5 of 6 at 2);
      }
    }
    .possible-services {
      @include rem(height, 270px);
      background: none;
      .pane-content {
        @include span(6 of 12);
        .view-advantages-of-alote {
           @include span(isolate 4 of 6 at 2);
        }
      }
      &:after {
        @include rem(height, 270px);
        @include span(6 of 12 last);
        background: url('../images/posible3-d.jpg') top right no-repeat;
        content: '';
        display: block;
        background-size: contain;
      }
    }
  }
}

