.pre-footer-wrapper {
  background-color: $main-text-color;
  color: $black;
  text-align: center;

  a {
    @include rem(font-size, 14px);
    color: $black;
    font-weight: $light;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  h2 {
    @include rem(font-size, 18px);
    @include rem(margin-top, 36px);
    &:first-letter {
      color: $black;
    }
  }
  .region-pre-footer {
    @include main-container;
  }
}
.princip-to-work {
  @include rem(padding-top, 1px);
  @include rem(line-height, 24px);
}
.company-block {
  @include rem(line-height, 24px);
}
.assistance-block {
  @include rem(margin-bottom, 23px);
  a {
    @include rem(line-height, 24px);
  }
}
.hr {
  clear: both;
  background: $btn-hover-color;
  height: 1px;
  width: 100%;
}
.social-icons {
  @include clr;
  @include rem(padding-bottom, 26px);
  @include rem(margin-right, 10px);
  li {
    @include span(5.5 of 12);
    &:nth-child(odd) {
      clear: left;
      text-align: right;
    }
    &:nth-child(even) {
      text-align: left;

      @include last;
      @include rem(margin-left, 0px);
    }
  }
  .content a {
    @include rem(height, 53px);
    @include rem(margin-bottom, 14px);
    @include rem(width, 53px);
    display: inline-block;
    font-size: 0;
  }
}
.vk a {
  background: url('../images/icons/vk1-m.png') 0px 0px no-repeat;
}
.twit a {
  background: url('../images/icons/tw1-m.png') 0px 0px no-repeat;
}
.fb a {
  background: url('../images/icons/fc1-m.png') 0px 0px no-repeat;
}
.inst a {
  background: url('../images/icons/inst1-m.png') 0px 0px no-repeat;
}

.block-social-share {
  @include clr;
  @include rem(padding-top, 5px);
  .content a {
    @include rem(height, 27px);
    @include rem(width, 27px);
    display: inline-block;
    font-size: 0;
    margin: 0px 5px 10px 4px;
    text-align: center;

  }
  .social-share-facebook {
    background: url('../images/icons/fc2-m.png') 0px 0px no-repeat;
  }
  .social-share-googleplus {
    background: url('../images/icons/g2-m.png') 0px 0px no-repeat;
  }
  .social-share-mail-ru {
    background: url('../images/icons/mail2-m.png') 0px 0px no-repeat;
  }
  .social-share-ok {
    background: url('../images/icons/ok2-m.png') 0px 0px no-repeat;
  }
  .social-share-twitter {
    background: url('../images/icons/tw2-m.png') 0px 0px no-repeat;
  }
  .social-share-vk {
    background: url('../images/icons/vk2-m.png') 0px 0px no-repeat;
  }
}
.app-wrapp {
  @include clr;
  @include rem(padding-top, 10px);
  @include rem(padding-bottom, 20px);
  li {
      display: inline-block;
  }
  .appstore,
  .googleplay {
    a {
      @include rem(height, 43px);
      @include rem(width, 131px);
      background: url('../images/app-m.png') no-repeat top center;
      float: right;
      font-size: 0;
    }
  }
  .appstore a {
    background-position: 0px;
    @include rem(margin-left, 15px);
  }
  .googleplay a {
    background-position: -142.5px;
    margin-right: 0;
  }
}
/*******************************************/

@include breakpoint($mid_device_width) {
  .pre-footer-wrapper {
    @include clr;
  }
  .princip-to-work {
    @include span(6 of 12 first);
    display: inline-block;
  }
  .company-block {
    @include span(6 of 12 last);
    display: inline-block;
  }
  .assistance-block {
    @include span(6 of 12 first);
    display: inline-block;
  }
  .social-icons {
    @include rem(margin-top,25px);
    @include span(6 of 12 last);
    display: inline-block;
  }

  .block-social-share {
    @include span(6 of 12 first);
    text-align: left;
  }
  .app-wrapp {
    @include span(6 of 12 last);
    @include last;
    text-align: right;
  }
}
/********************************************/

@include breakpoint($min_width) {
  .princip-to-work,
  .company-block,
  .assistance-block {
    @include span(3 of 12);
//    display: inline-block;
  }
  .social-icons {
    @include rem(margin-top,35px);
    @include span(3 of 12 last);
  }
  .block-social-share {
    @include rem(padding-bottom, 55px);
    @include rem(padding-top, 55px);
    clear: both;
    .social-share-facebook {
      &:hover {
        background: url('../images/icons/fc2-m-h.png') 0px 0px no-repeat;
      }
    }
    .social-share-googleplus {
      &:hover {
        background: url('../images/icons/g2-m-h.png') 0px 0px no-repeat;
      }
    }
    .social-share-mail-ru {
      &:hover {
        background: url('../images/icons/mail2-m-h.png') 0px 0px no-repeat;
      }
    }
    .social-share-ok {
      &:hover {
        background: url('../images/icons/ok2-m-h.png') 0px 0px no-repeat;
      }
    }
    .social-share-twitter {
      &:hover {
        background: url('../images/icons/tw2-m-h.png') 0px 0px no-repeat;
      }
    }
    .social-share-vk {
      &:hover {
        background: url('../images/icons/vk2-m-h.png') 0px 0px no-repeat;
      }
    }
  }
  .app-wrapp {
    @include rem(padding-top, 55px);
  }

  .vk a {
    &:hover {
      background: url('../images/icons/vk1-m-h.png') 0px 0px no-repeat;
    }
  }
  .twit a {
    &:hover {
      background: url('../images/icons/tw1-m-h.png') 0px 0px no-repeat;
    }
  }
  .fb a {
    &:hover {
      background: url('../images/icons/fc1-m-h.png') 0px 0px no-repeat;
    }
  }
  .inst a {
    &:hover {
      background: url('../images/icons/inst1-m-h.png') 0px 0px no-repeat;
    }
  }
}
