$main-text-color: #333;
$tab-active-color: #ff0000;
// HEADER
$header-color: #fff;
$tabs-active-color: #000;
$tab-content: #000;
$btn_tab_bg: #981818;
$btn_tab_bg_hover: #003469;
// TIZER
$tizer_bg: linear-gradient(#c6d8ee, #e8eff7);
// CONTENT_FORM
$content_header_text: #003469;
$content_icons: #981818;
$form_bg: #f7f7f7;
$label_color: #666;
$input_color: D9D9D9;
$btn_form_bg: #67bc5c;
// S_BACK
$btn_back: #fff;

$dark: #000;
$white: #fff;
$red: #981818;
$blue: #003469;
$green: #67bc5c;

