.front {
  .header {
    @include gpu();
    background: transparent;
    position: fixed;
    transition: all .4s ease;
    width: 100%;
  }
  .content-sidebar-wrap {
    @include rem(margin-top, -52px);
  }
  .is-sticky .header {
    background: rgba($black, .7);
    transition: all 1s ease;
    &:hover {
      background: $black;
    }
  }
}

@include breakpoint($mid_device_width) {
  .front {
    .content-sidebar-wrap {
      @include rem(margin-top, -78px);
    }
  }
}
