
.our-blog {
  .views-row {
    @include rem(max-width, 290px);
    margin: 0 auto;
    text-align: center;
    width: 100%;
    .views-field-title,
    .views-field-body {
      text-align: left;
    }
    .field-content img {
      @include rem(margin-top, 36px);
      //width: 290px;
      //height: 207px;
    }
    .views-field-title {
      @include rem(font-size, 20px);
      @include rem(margin-top, 25px);
      @include rem(margin-bottom, 12px);
      font-weight: $bold;
      a {
        color: $black;
        text-decoration: none;
      }
      &:first-letter {
        color: $btn-color;
      }
    }
  }
  .views-row-last {
    @include rem(margin-bottom, 37px);
  }
  .views-row-first {
    .field-content img {
      margin: 0;
    }
  }
}

/****************** Tablet******************/
@include breakpoint($mid_device_width) {
  .our-blog {
    .view-content {
      @include clr;
      @include rem(max-width, 720px);
      margin: 0 auto;
    }
    .views-row {
      @include rem(max-width, 345px);
      @include span(6 of 12);
      .field-content img {
        //width: 345px;
        //height: 246px;
      }
    }
    .views-row-even {
      margin-right: 0;
    }
    .views-row-2 {
      .field-content img {
        margin: 0;
      }
    }
  }
}

/****************** Desctop******************/
@include breakpoint($min_width) {
  .our-blog {
    .view-content {
      @include clr;
      @include rem(max-width, 870px);
      margin: 0 auto;
    }
    .views-row {
      @include rem(max-width, 440px);
      @include span(6 of 12);
      .field-content img {
        //width: 420px;
        //height: 300px;
      }
    }
    .views-row-even {
      margin-right: 0;
    }
  }
}


