@font-face {
	font-family: 'Harabara';
	src: url('../fonts/Harabara.eot');
	src: url('../fonts/Harabara.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Harabara.woff') format('woff'),
	url('../fonts/Harabara.ttf') format('truetype');
	font-style: normal; font-weight: normal;
}

body {
	background-color: #202930;
	color: #fff;
	font-family: 'Harabara', Arial, sans-serif;
	min-width: 1070px;
	padding-top: 117px;	
}

/* global rules */
body,
h1,
h2,
h3 {
	font-weight: normal;
}
.footer-menu li a,
.main-wrapper,
.slides li {
	font-family: Arial, sans-serif;
}

.banner-bg,
header,
.header-menu .header-hover,
.header-menu li.active .header-hover,
.header-menu li:hover .header-hover {
	width: 100%;
}

.flexslider,
.header-menu li,
.top-banner {
	position: relative;
}

.banner-photo,
.banner-bg,
.flex-direction-nav a,
.flex-direction-nav a:before,
header,
.header-menu .header-hover {
	position: absolute;
}

/*start class="top_banner"*/
.top-banner {
	background-image: url(../img/top_bg_2.png);
	font-size: 22px;
	min-height: 342px;
	padding-top: 100px;
}
.top-banner h1 {
	color: #f99e0f;
	font-size: 48px;
	text-shadow: rgba(0, 0, 0, .6) 1px 4px;
	margin-bottom: 30px;
}
.top-banner li {
	background: url(../img/check.png) no-repeat 8px 7px;
	border: transparent 2px solid;
	cursor: default;
	padding: 3px 3px 3px 35px;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}
.top-banner li:hover {
	border: rgba(255, 255, 255, .3) 2px solid;
}
.banner-photo {
	bottom: 0;
	margin-right: -490px;
	right: 50%;
}
.banner-bg {
	background: url(../img/top_bg_glow.png) no-repeat top center;
	height: 100%;
	top: 0;	
	z-index: -1;
}
/*end class="top-banner"*/

/*start header*/
header {
	background-image: url(../img/top_menu.png);
	height: 121px;
	min-width: 1070px;	
	top: 0;
}
.header-logo {
	display: block;
	margin-top: 28px;	
}
.header-menu {
	float: right; 
}
.header-menu a {
	color: #fdab37;
	font-size: 19px;
	text-shadow: rgba(0,0,0,.6) 1px 2px;	
}
.header-menu li {
	float: left;
}
.header-menu li a {
	background: url(../img/separate.png) repeat-y;
	display: block;
	padding: 72px 26px 25px 26px;
}
.header-menu li:last-child {
	background: url(../img/separate.png) repeat-y top right;
}
.header-hover {
	bottom: -4px;
	height: 4px;
	left: 50%;	
	-webkit-transition: all .25s ease;
	-moz-transition:all .25s ease;
	-ms-transition:all .25s ease;
	-o-transition:all .25s ease;
	transition: all .25s ease;
}
.header-menu li.active .header-hover,
.header-menu li:hover .header-hover {
	background-color: #fdab37;
	left: 0;
}
/*end header*/

/*start class="slider"*/
.slider {
	background: url(../img/line_shadow.png) repeat-x;
	margin-top: -17px
}
.flexslider {
	background: url(../img/slider_bg.png) no-repeat;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;	
	border-radius: 15px;
	height: 64px;
	margin-top: -21px;
	margin-left: 30px;
	padding: 10px;	
	width: 520px;
}
.flex-direction-nav a {	text-indent: -9999px; }
.flex-direction-nav a:before {
	background: url(../img/slider_elements.png) no-repeat;
	content: '';
	display: block;
	height: 85px;
	width: 78px;	
}
.flex-direction-nav .flex-next { right: 0; top: 4px; }
.flex-direction-nav .flex-prev { left: -78px; top: 4px; }
.flex-direction-nav .flex-next:before { background-position: -61px 0; }
.flex-direction-nav .flex-prev:before { background-position: 19px 0; }
.slides li { height: 72px; overflow: hidden; text-align: justify;	}
.slides p { font-size: 18px; float: left; }
.slides p span { font-size: 50px; }
.slides h2{ font-size: 22px; }
.slides h3{ font-size: 14px; }
/*end class="slider"*/

/*start class="content_wrapper"*/
.main-wrapper {
	background-color: #1C1C1C;
	margin-top: -34px;
	padding: 55px 20px 45px 20px;
	text-align: center;
}
.main-wrapper:after{
	content:".";
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}
.main-inner-wrapper{
	background-color: #272626;
	padding:35px 0 35px 45px;	
}
.main-images a{
	color: #fff;
	display: block;	
	font-size: 19px;
	padding: 10px 0;	
}
.main-images p{ font-size: 14px; color: #919191; }
/*end class="main-wrapper"*/

footer{
	background-image: url(../img/footer_bg.png);
	color: #4C5459;
	height: 121px;	
}
.footer-logo-text {  display: block; margin: 28px 0 0 25px; }
.footer-logo-text a { font-size: 35px; color: #4C5459; }
.footer-logo-text p { font-size: 12px; }
.footer-menu li { float: left; margin-top: 45px; }
.footer-menu li:first-child { margin-left:37px; }
.footer-menu li a {
	font-size: 19px;
	text-shadow: rgba(0,0,0,.6) 1px 2px;
	padding: 10px 15px;
	color: #4C5459;
	text-decoration: underline;
}
.footer-menu li.active a, .footer-menu li:hover a{
	background-color: #fdab37;	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	color: #fff;
	text-decoration: none;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}