/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1200px) {
  .occupation,
  .number { font-size: 1.1rem; }
  .number::before { top: 20%; }
  .rotator { height: 710px !important; }
  .rotator__item_content { 
    float: none !important;
    right: 0 !important;
    text-align: center;
  }
  .banner-form { 
    position: static; 
    height: auto;
    width: 100%; 
  }
  .btn_callUs { display: block; }
  .footer__content { justify-content: flex-start; }
  .footer__content_title { font-size: 2rem; }
}

/*Tablets*/
@media only screen and (max-width : 768px) {
  header { padding: 15px 10px; }
  .social,
  .number::before { display: none; }
  .header-text {
    align-items: flex-end;
    flex-direction: column;
    height: 91px;
    justify-content: center;
  }
  .occupation { order: 2; }
  .number { order: 1; }
  .rotator { 
    height: 610px !important; 
    .rotator__item_content {
      .content-img1 { height: 422px; width: 422px; }      
    }
  }
  .banner-form { 
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .inp_name,
  .inp_tel,
  .inp_email,
  .btn_submit { max-width: 100%; margin: 5px 0; }
  .btn_submit { order: 1;}
  .form_text { order: 2; }
  .footer-list__item {
    float: none;
    width: 100%;
  }
  .footer__content { justify-content: center; }
}
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .rotator { 
    height: 400px !important; 
    .rotator__item_img { height: 400px; }
    .rotator__item_content {
      .content-img1 { height:310px; width: 310px; }      
      }
    }
  }
  .btn_callUs {
    font-size: 2rem;
    padding-right: 0;
    &::after { display: none; }
  }


