@font-face {
  font-family: "Nunito-Light";
  src: url("../fonts/Nunito-Light/nunito-light.eot");
  src: url("../fonts/Nunito-Light/nunito-light.eot?#iefix") format('embedded-opentype'),
       url("../fonts/Nunito-Light/nunito-light.woff") format('woff'),
       url("../fonts/Nunito-Light/nunito-light.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Nunito-Regular";
  src: url("../fonts/Nunito-Regular/nunito-regular.eot");
  src: url("../fonts/Nunito-Regular/nunito-regular.eot?#iefix") format('embedded-opentype'),
       url("../fonts/Nunito-Regular/nunito-regular.woff") format('woff'),
       url("../fonts/Nunito-Regular/nunito-regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Yantramanav-Light";
  src: url("../fonts/Yantramanav-Light/yantramanav-light.eot");
  src: url("../fonts/Yantramanav-Light/yantramanav-light.eot?#iefix") format('embedded-opentype'),
       url("../fonts/Yantramanav-Light/yantramanav-light.woff") format('woff'),
       url("../fonts/Yantramanav-Light/yantramanav-light.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Yantramanav-Regular";
  src: url("../fonts/Yantramanav-Regular/yantramanav-regular.eot");
  src: url("../fonts/Yantramanav-Regular/yantramanav-regular.eot?#iefix") format('embedded-opentype'),
       url("../fonts/Yantramanav-Regular/yantramanav-regular.woff") format('woff'),
       url("../fonts/Yantramanav-Regular/yantramanav-regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Yantramanav-Thin";
  src: url("../fonts/Yantramanav-Thin/yantramanav-thin.eot");
  src: url("../fonts/Yantramanav-Thin/yantramanav-thin.eot?#iefix") format('embedded-opentype'),
       url("../fonts/Yantramanav-Thin/yantramanav-thin.woff") format('woff'),
       url("../fonts/Yantramanav-Thin/yantramanav-thin.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
