/*global*/
  .email-form {
    margin: 60px auto;
    width: 480px;
    .form-input {
      border-bottom-left-radius: 50px;
      border-top-left-radius: 50px;
      float: left;
      font-family: "Yantramanav-Light";
      font-size: 1.125rem;
      height: 23px;
      line-height: 18.08px;
      max-width: 274px;
      padding: 13px 10px 13px 30px;
      width: 100%;
    }
    .form-input_button {
      background: $i-search-button;
      border-bottom-right-radius: 50px;
      border-top-right-radius: 50px;
      color: #fff;
      cursor: pointer;
      font-family: "Nunito-Regular";
      font-size: 1.125rem;
      height: 49px;
      width: 165px;
      &:hover {
        background: $i-search-button_hover;
      }
    }
  }

/*
| ============================= INTRO =========================================== |
*/
.s-intro {
  background: url(../img/blue-stool1.jpg) no-repeat top center fixed;
  background-size: 100% 100%;
  height: 800px;
  position: relative;
  /* logo */
  .i-logo {
    float: left;
    padding-left: 35px;
    padding-top: 30px;
  }
  /* i-text */
  .i-text {
    padding-top: 285px;
    h1,
    p {
      text-shadow: 0px 0px 60px #000;
    }
    p {
      color: $i-text-color;
      font: 1.25rem "Yantramanav-Light";
      line-height: 27px;
      padding-top: 25px;
      a {
        color: $i-text-color;
      }
    }
  }
  /* i-dot-nav */
  .i-dot-nav {
    position: fixed;
    right: 57px;
    text-align: -webkit-center;
    text-align: -moz-center;
    top: 35%;
    z-index: 10;
    li {
      background: $i-dot-nav_bg;
      border-radius: 50px;
      display: block;
      height: 9px;
      margin-top: 18px;
      text-align: -webkit-center;
      width: 8px;
      a {
        display: block;
        height: 9px;
        width: 8px;
      }
    }
    .dot-nav_active {
      height: 12px;
      width: 12px;
    }
  }
}



/*
| ============================= ABOUT =========================================== |
*/
.s-about {
  .s-text {
    max-width: 400px;
    padding: 13% 2% 0 2%;
    h2 {
      padding-bottom: 45px;
      text-align: center;
    }
    p {
      padding-bottom: 35px;
    }
  }
}



/*
| ============================= REVIEWS =========================================== |
*/
.s-reviews,
.s-reviews-2 {
  .r-text {
    max-width: 340px;
    padding: 13% 2% 0 2%;
    .r-comment {
      margin-bottom: 85px;
      margin-top: 80px;
      padding: 45px 15px 15px 24px;
      position: relative;
      p {
      font-size: 1.25rem;
      }
      .quotes {
        background: url(../img/quotes.jpg);
        display: block;
        height: 16px;
        position: absolute;
        width: 26px;
      }
      .q-top {
        left: 0;
        top: 0;
      }
      .q-bot {
        bottom: 0;
        right: 0;
        transform: rotate(180deg);
      }
    }
  }
}



/*
| ============================= SLIDER =========================================== |
*/
.s-slider {
  max-width: 860px;
  padding: 85px 0px;
  h3 {
    margin-top: 30px;
  }
  .slick-slider {
    margin-top: 50px;
    .slick-slide {
      text-align: -webkit-center;
      text-align: -moz-center;
      img {
        height: 410px;
      }
      p {
        font-family: "Nunito-Light";
        font-size: 1.5rem;
        margin-top: 25px;
      }
    }
    .slick-arrow {
      height: 35px;
      width: 45px;
    }
    .slick-prev::before,
    .slick-next::before {
      color: $slider-arrow_color;
      font-size: 20px;
    }
    .slick-dots {
      bottom: -45px;
    }
  }
}



/*
| ============================= OUR ADVANTAGE=========================================== |
*/
.s-advantage {
  background: $s-advantage_bg;
  border-bottom: 1px solid #f3f3f3;
  padding: 80px 5% 0;
  h3 {
    margin-bottom: 10px;
  }
  .w-img-block {
    background: url(../img/plae_blue2.png) no-repeat top center;
    height: 635px;
    max-width: 1160px;
    .box-left {
      float: left;
      width: 230px;
    }
    .box-right {
      float: right;
      width: 230px;
    }
    .box-left li,
    .box-right li {
      background: $box_bg;
      border-radius: 10px;
      margin-bottom: 15px;
      padding: 15px;
    }
    .box-left p,
    .box-right p {
      font-size: 0.9375rem;
      margin: 0;
    }
  }
}



/*
| ============================= STOCK-LIST =========================================== |
*/
.s-stock-list {
  max-width: 980px;
  padding-bottom: 95px;
  padding-top: 90px;
  h3 {
    margin-bottom: 80px;
  }
  .list-box {
    display: inline-block;
    margin-right: 8.5%;
    text-align: left;
    width: 125px;
    h4 {
      margin-top: 60px;
    }
    p {
      font-size: 0.9375;
      margin: 0;
    }
    a {
      color: $link-color;
      display: block;
      margin-top: 15px;
      &:hover {
        color: $link-color_hover;
      }
    }
  }
  .last {
  margin-right: 0;
  }
}



/*
| ============================= CONTACTS =========================================== |
*/
.s-contact {
  padding-bottom: 80px;
  h3 {
    margin-bottom: 50px;
  }
}
.c-adress {
  a {
    color: $link-color;
    font: normal 1.125rem "Yantramanav-Thin";
    &:hover {
      color: $link-color_hover;
    }
  }
  em {
    font: normal 1.125rem "Yantramanav-Thin";
    padding-left: 5.5%;
  }
}



/*
| ============================= FOOTER =========================================== |
*/
.footer {
  background: $footer_bg;
  padding-top: 135px;
  h2 {
    margin-bottom: 20px;
  }
  .email-form {
    margin-bottom: 110px;
    margin-top: 45px;
  }
  .copyright {
    background: $copyright_bg;
    color: #fff;
    font-family: "Yantramanav-Regular";
    font-size: 0.875rem;
    line-height: 40px;
    padding-left: 35px;
  }
}
