@font-face {
  font-family: "LeksaSans";
  src: url("../fonts/LeksaSans/LeksaSans.eot");
  src: url("../fonts/LeksaSans/LeksaSans.eot?#iefix") format('embedded-opentype'),
       url("../fonts/LeksaSans/LeksaSans.woff") format('woff'),
       url("../fonts/LeksaSans/LeksaSans.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LeksaSans-Bold";
  src: url("../fonts/LeksaSans-Bold/LeksaSans-Bold.eot");
  src: url("../fonts/LeksaSans-Bold/LeksaSans-Bold.eot?#iefix") format('embedded-opentype'),
       url("../fonts/LeksaSans-Bold/LeksaSans-Bold.woff") format('woff'),
       url("../fonts/LeksaSans-Bold/LeksaSans-Bold.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu-Regular";
  src: url("../fonts/Ubuntu-Regular/Ubuntu-Regular.eot");
  src: url("../fonts/Ubuntu-Regular/Ubuntu-Regular.eot?#iefix") format('embedded-opentype'),
       url("../fonts/Ubuntu-Regular/Ubuntu-Regular.woff") format('woff'),
       url("../fonts/Ubuntu-Regular/Ubuntu-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu-Bold";
  src: url("../fonts/Ubuntu-Bold/Ubuntu-Bold.eot");
  src: url("../fonts/Ubuntu-Bold/Ubuntu-Bold.eot?#iefix") format('embedded-opentype'),
       url("../fonts/Ubuntu-Bold/Ubuntu-Bold.woff") format('woff'),
       url("../fonts/Ubuntu-Bold/Ubuntu-Bold.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rubik-Medium";
  src: url("../fonts/Rubik-Medium/Rubik-Medium.eot");
  src: url("../fonts/Rubik-Medium/Rubik-Medium.eot?#iefix") format('embedded-opentype'),
       url("../fonts/Rubik-Medium/Rubik-Medium.woff") format('woff'),
       url("../fonts/Rubik-Medium/Rubik-Medium.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}