.search-courier {
  @include rem(padding-bottom, 30px);
  background: url('../images/add-task-mobile.png') no-repeat;
  background-size: cover;
  .view-content {
    @include main-container;
  }
  h2 {
    @include rem(font-size, 25px);
    @include rem(padding-top, 39px);
    @include rem(margin-bottom, 36px);
    color: $white;
    font-weight: $normal;
    text-align: center;
    text-transform: uppercase;
    &:first-letter {
      color: $white;
    }
  }

  .views-field {
    @include rem(margin-bottom, 21px);
    @include rem(min-height, 100px);
    @include rem(padding-left, 110px);
    &:first-child {
      background: url('../images/add-task-one.svg') no-repeat;
      background-size: 100px 100px;
    }

    &:nth-child(2) {
      background: url('../images/add-task-two.svg') no-repeat;
      background-size: 100px 100px;
    }

    &:nth-child(3) {
      background: url('../images/add-task-three.svg') no-repeat;
      background-size: 100px 100px;
    }

    .views-label {
      @include rem(font-size, 16px);
      color: $select-drop-bg;
      font-weight: $bold;
    }

    .field-content {
      @include rem(margin-top, 13px);
      @include rem(line-height, 16px);
      @include rem(font-size, 13px);
      color: $white;
      font-weight: $light;
    }
  }
}
.custom-service-displaynone {
  display: none;
}
//  Tablet
@include breakpoint($mid_device_width) {
  .search-courier {
    @include clr;
    background: url('../images/add-task-desctop.png') no-repeat;

    h2 {
      @include rem(margin-bottom, 25px);
    }

    .views-field {
      @include rem(padding-left, 0);
      @include rem(padding-top, 101px);
      @include span(4 of 12);
      text-align: center;

      &:first-child,
      &:nth-child(2),
      &:nth-child(3) {
        background-position: top center;
      }
      &:last-child {
        @include last;
      }

      .field-content {
        @include rem(font-size, 14px);
      }
    }

    .views-label {
      @include rem(margin-top, 8px);
      display: inline-block;

    }
  }
}

//  Desctop
@include breakpoint($min_width) {
  .search-courier {
    h2 {
      @include rem(font-size, 35px);
    }

    .views-field {
      text-align: left;
      @include span(4 of 12);
      &:last-child {
        @include last;
      }
      @include rem(min-height, 110px);
      @include rem(padding-left, 133px);
      @include rem(padding-top, 0);
      &:first-child,
      &:nth-child(2),
      &:nth-child(3) {
        background-position: top left;
        background-size: 110px 110px;
      }
    }
  }
}


