.header {
  background: $black;
  position: relative;
  z-index: 9;
}
.header-inner {
  @include clr;
  @include rem(padding-top, 10px);
  @include rem(padding-bottom, 10px);
}
.logo {
  @include rem(margin-right, 30px);
  @include rem(width, 170x);
  float: left;
}
.region-aq {
  float: left;
  .views-field {
    float: left;
  }
}
.dd-m {
  float: right;
}
.region-header {
  @include rem(padding-top, 20px);
  @include rem(padding-bottom, 17px);
  background: rgba($black, .7);
  display: none;
  overflow: scroll !important;
  overflow-x: hidden !important;
  text-align: right;
  width: 100%;
  a {
    @include rem(font-size, 16px);
    color: $white;
    text-decoration: none;
    font-family: $main-font;
  }
}
.bell {
  float: left;
  .content a {
    @include rem(width, 21px);
    @include rem(height, 26px);
    background: url('../images/icons/bell.png') no-repeat;
    display: block;
    font-size: 0;
  }
}
@include breakpoint(1023px 0) {
  .header {
    .region-header {
      left: 0;
      position: absolute;
      top: 0;
    }
  }
}
@include breakpoint($min_width) {
  .region-aq {
    @include rem(padding-top, 10px);
    @include span(2 of 12);
  }
  .logged-in {
    .header {
      .region-header {
        @include span(7 of 12);
      }
      .main-menu {
        @include span(7 of 7);
      }
    }
  }
  .header {
    @include rem(height, 78px);
    .header-inner {
      position: relative;
    }
    .logo,
    .dd-d,
    .region-header {
      @include rem(height, 58px);
      overflow: visible !important;
      overflow-x: visible !important;
    }
    .region-header {
      @include rem(padding, 20px 0 0 0);
      @include span(9 of 12);
      background: none;
      display: block !important;
    }
    .logo {
      @include span(2 of 12);
      img {
        @include rem(margin-top, 10px);
      }
    }
    .dd-d {
      @include span(1 of 12 last);
    }
    .log-reg {
      @include clr;
      @include span(2 of 9);
      .first {
        float: left;
      }
      .last {
        float: right;
      }
    }
    .main-menu {
      @include span(7 of 9 last);
      text-align: center;
      li {
        // @include rem(margin-right, 62px);
        @include span(2 of 7);
        float: none;
        display: inline-block;
      }
      .mob-no-drop {
        display: none;
      }
      .last {
        margin-right: 0;
      }
    }
    .log-reg li,
    .main-menu li,
    .log-reg,
    .main-menu,
    .drop-menu {
      clear: none;
    }
  }
}
