.alote-advantages {
  @include rem(padding-top, 36px);
  @include rem(padding-bottom, 40px);
  background-color: $background-advantages;

  h2 {
    @include rem(font-size, 25px);
    color: $black;
    font-weight: $normal;
    text-align: center;

    &:first-letter {
      color: $black;
    }
  }

  .views-field {
    @include rem(min-height, 200px);
    @include rem(max-width, 370px);
    @include rem(padding, 17px);
    @include rem(padding-top, 35px);
    border: 2px solid $black;
    margin: 0 auto;
    margin-top: 55px;
    text-align: center;
    width: 100%;

    p {
      @include rem(line-height, 24px);
    }

    .advantage-title {
      @include rem(font-size, 20px);
      @include rem(line-height, 30px);
      @include rem(margin-bottom, 10px);
      @include rem(margin-top, -80px);
      @include rem(width, 153px);
      @include rem(padding, 3px);
      background-color: $background-advantages;
      color: $black;
      display: inline-block;
      font-style: italic;
      margin-left: auto;
      margin-right: auto;
      vertical-align: middle;
    }
  }
}

.panels-flexible-row.alote-advantages {
  @include rem(margin-top, 60px);
  @include rem(padding-bottom, 40px);
  @include rem(padding-top, 36px);
}

// Tablet
@include breakpoint($mid_device_width) {
  .alote-advantages {
    .views-field {
      @include rem(min-height, 250px);
      @include span(4 of 12);
      &:last-child {
        @include last;
      }
    }
  }
}

// Desctop
@include breakpoint($min_width) {
  .alote-advantages {
    .views-field {
      @include rem(min-height, 200px);
      @include span(4 of 12);
      &:last-child {
        @include last;
      }
    }
  }
}
