.personal-cabin-main-inf {
  @include rem(max-width, 290px);
  margin: 0 auto !important;
  .inside {
    padding: 0;
  }

  .photo {
    @include span(5 of 12 );
    .image-preview img {
      border-radius: 50%;
    }
    .image-widget-data {
        float: none;
      span {
        display: none;
      }
    }
  }

  .main-info {
    @include span(7 of 12 last);
    @include rem(margin-top, 30px);
    .views-field-field-city .field-content {
      @include rem(margin-bottom, 16px);
      &:before {
        @include rem(width, 14px);
        @include rem(height, 20px);
        @include rem(margin-right, 10px);
        display: inline-block;
        content: '';
        background: url('../images/icons/loc.png');
      }
    }
    .views-field-field-birthday,
    .views-field-nid,
    .views-field-field-star {
      @include rem(margin-left, 24px);
      @include rem(margin-bottom, 16px);
    }
  }

}

/******************************************************/
@include breakpoint($mid_device_width) {
  .personal-cabin-main-inf {
    @include rem(max-width, 720px);
  }
}
