.progress{
  @include rem(font-size, 14px);
  color: $black;
  font-weight: $normal;
  .bar {
    @include rem(margin-bottom, 24px);
    background: $transparent;
    border: 1px solid $btn-color;
  }
  .filled {
    @include rem(max-height, 8px);
    background: $btn-color;
  }
}
