.panels-flexible-column-first {
  width: 100%;
}

.third-column,.second-column {
  display: none;
}


.first-column,.second-column {
  width: 100%;
}
.third-column {
  width: 100%;
  .form-item {
    text-align: center;
  }
  .field-type-phone label {
    display: none;
  }
  //date
  .field-name-field-birthday {
    @include rem(max-width, 290px);
    @include rem(margin-top, 30px);
    margin: 0 auto;
    div[class*="value-month"] {
      clear: both;
    }
    .date-no-float {
      width: 100%;
    }
    .date-padding {
      padding: 0;
    }
    .fieldset-wrapper {
      float: right;
      text-align: right;
      width: 100%;
    }
    legend {
      @include rem(margin-right, 150px);
      margin-bottom: -48px;
      margin-left: auto;
      span {
        color: $black;
        font-weight: $bold;
      }
    }
    .form-type-select {
      float: right;
    }
    select {
      @include rem(margin, 5px);
      @include rem(width, 100px);
    }
  }

  .field-name-field-gender {
    @include rem(max-width, 290px);
    margin: 0 auto;
    @include clr;
    .form-item-profile-customer-field-gender-und {
      @include clr;
      @include rem(margin-bottom, 23px);
      label:first-child {
        @include span(4 of 12);
        @include rem(margin-top, 10px);
        display: inline-block;
      }
    }
    .form-radios {
      @include span(8 of 12 last);
      .form-item {
        @include span(6 of 12 last);
      }
    }
  }
  .form-actions {
    @include rem(margin, 40px 0);
    text-align: center;
    .delete-prefix {
      @include rem(font-size, 14px);
      @include rem(margin-bottom, 20px);
      @include rem(margin-top, 40px);
      color: $black;
      font-weight: $bold;
      text-align: center;
    }
  }
  .pass-title {
    @include rem(font-size, 14px);
    @include rem(margin-bottom, 16px);
    color: $black;
    font-weight: $bold;
    text-align: center;
  }
}

/******************************************************/
@include breakpoint($mid_device_width) {
  .third-column {
    form {
      @include rem(max-width, 595px);
      width: 100%;
      margin: 0 auto;
      .field-type-text:nth-child(odd) {
        @include span(6 of 12);
      }
      .field-type-text:nth-child(even) {
        @include span(6 of 12 last);
      }
      .field-type-phone {
        @include span(6 of 12);
        @include rem(margin-bottom, 25px);
      }
      .field-name-field-gender {
        @include span(6 of 12 last);
      }
      // Date
    .field-name-field-birthday {
      @include rem(max-width, 595px);
      @include rem(margin-top, 9px);
      div[class*="value-month"] {
        clear: none;
      }
      legend {
        margin-left: 20%;
        margin-right: 0;
      }
      .date-combo  {
        width: 100%;
      }
    }
      //Password
      #edit-account {
        .form-item-pass {
          @include clr;
          @include rem(margin-bottom, 55px);
          .form-item:nth-child(odd) {
            @include span(6 of 12);
          }
          .form-item:nth-child(even) {
            @include span(6 of 12 last);
          }
        }
      }
    }
  }
}
