table {
  border: 1px solid $btn-hover-color;
  tr {
    background-color: $main-text-color;
  }
  th,
  td {
    @include rem(line-height, 18px);
    @include rem(padding, 18px 11px);
    border: 1px solid $btn-hover-color;
    vertical-align: middle;
  }
  th {
    @include rem(font-size, 16px);
    color: $text-title-table;
    font-weight: $bold;
    text-align: center;
  }
  td {
    @include rem(font-size, 14px);
    color: $main-text-color;
    font-weight: $light;
  }
}
