.not-front {
  .content-sidebar-wrap {
    background: url('../images/mobile-bg.jpg');
  }
  h1 {
    @include rem(font-size, 25px);
    @include rem(padding-top, 25px);
    clear: both;
    color: $black;
    font-weight: $normal;
    text-align: center;
  }
}
@include breakpoint($mid_device_width) {
  .not-front {
    h1.page-title {
      @include rem(font-size, 35px);
    }
  }
}
