$blue_color: #2274ac;
$red_color: #cb1124;
$green_color: #4ba82e;
$black_color: #000;

$banner_txtBg: $blue_color;
$banner_line: $blue_color;
$offer_circle: $blue_color;
$offer__topLine: $blue_color;
$catalog__topLine: $blue_color;
$reasons__topLine: $blue_color;
$results__topLine: $blue_color;

$propositionTitle_bg: $black_color;

$propose__topLine: $green_color;
$certificate__topLine: $green_color;

$equip__topLine: $red_color;
$scheme__topLine: $red_color;
