/* color */
$white: #fff;
$black: #000;
$transparent: transparent;

$main-text-color: #667580;

$btn-color: #50abf1;
$btn-hover-color: #292f33;
$input-border: #626262;
$input-checked: #667580;

$select-drop-bg: #ccd6dd;
$hover-color: #fefefe;

$background-advantages: #ebecf0;
$background-status: #d3f2d4;
$background-warning: #f2f7a5;
$background-error: #ffa8a4;
$border-status: #37843a;
$border-warning: #d19a06;
$border-error: #ca0900;


$text-title-table: #e1e8ed;

$border-checkbox: #bababa;

//chatPage
$background-commentBlock: #50abf1;
$triangle-color: #50abf1;

// Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,700italic,400italic,300italic&subset=latin,cyrillic);
$main-font: 'Open Sans', sans-serif;
$light: 300;
$normal: 400;
$bold: 700;
