// BASE STYLES
body {
  margin: 0;
  padding: 0;
}
a {
  color: #000;
  text-decoration: none;
}



// GLOBAL STYLES
.email-container {
  color: #666;
  font: 14px sans-serif;
  .email-center {
    margin: auto;
    max-width: 600px;
    padding: 0 20px;
    text-align: center;
  }
}
.email-button,
.product-button {
  background: #56BA5B;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  margin: 60px 0 80px;
  padding: 10px 45px;
  text-transform: uppercase;
  &:hover {
    background: #13d01c;
  }
}

//HEADER
.email-header {
  background: #574943 url(../img/bg.jpg) top left;
  color: #fff;
  height: 390px;
  padding-top: 30px;
  .email-logo {
    float: left;
  }
  .email-social-wrap {
    float: right;
    a {
      margin-left: 7px;
    }
  }
  .email-header-top {
    clear: both;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    padding-top: 80px;
    text-align: center;
    text-transform: uppercase;
  }
}// /email-header



//CONTENT
.email-content {
  .email-tizers-wrap {
    background: #F1F1F2;
    border-bottom: 5px solid #d5d5d5;
    margin-top: -34px;
    padding-top: 34px;
    .email-tizer-item {
      display: inline-block;
      padding: 0 20px 20px;
      vertical-align: top;
      width: 160px;
    }
  }
  .email-sale-text {
    border: 1px solid #7a695a;
    color: #7a695a;
    display: inline-block;
    letter-spacing: 4px;
    line-height: 24px;
    margin: 45px 0;
    padding: 10px 35px;
    text-transform: uppercase;
  }
  .email-products-item {
    border-bottom: 1px solid #d5d5d5;
    display: inline-block;
    margin-bottom: 30px;
    padding: 0 20px;
    width: 250px;
    img {
      width: 100%;
    }
    .email-price {
      color: #040506;
      font-size: 16px;
      margin-top: 15px;
    }
    .product-button {
      background: #7A695A;
      font-size: 12px;
      margin: 15px 0 30px;
      padding: 10px 30px;
    }
  }
}



// FOOTER
.email-footer {
  background: #ECECEC;
  color: #a1a1a1;
  font-size: 12px;
  padding: 20px 0;
  a {
    color: #a1a1a1;
    &:hover {
      color: #e90000;
    }
  }
}
