.node-type-static-page {
  .post-content {
    @include rem(padding-bottom, 57px);
  }
  .content-sidebar-wrap {
    background-image: url('../images/mobile-bg.jpg');
  }
  h1 {
    @include rem(font-size, 25px);
    @include rem(margin-bottom, 35px);
    @include rem(padding-top, 50px);
    color: $black;
    text-align: center;
  }
  .node-static-page {
    img {
      @include rem(margin-bottom, 27px);
      clear: both;
      margin-left: auto;
      margin-right: auto;
    }

    p {
      margin-bottom: 15px;
    }
    p img {
      margin-top: -15px;
    }
  }

  .second-sidebar {
    @include rem(margin-top, 56px);
    text-align: center;
    .menu li  {
      @include rem(margin-bottom, 39px);
    }
    .menu a {
      @include rem(font-size, 16px);
      color: $black;
      font-weight: $normal;
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  .static-block-performer {
    @include rem(width, 270px);
    @include rem(height, 230px);
    background-image: url('../images/static-block-performer.png');
    margin: 0 auto;
    position: relative;
    p {
      @include rem(bottom, 33px);
      position: absolute;
    }

    p a {
      @include rem(font-size, 16px);
      color: $white;
      font-weight: $bold;
      text-decoration: none;
    }
    &:hover {
      background-image: url('../images/static-block-performer-hv.png');
      cursor: pointer;
    }
  }
}

// Tablet
@include breakpoint($mid_device_width) {
  .node-type-static-page {
    .content-sidebar-wrap {
      h1 {
        @include rem(font-size, 35px);
      }

      .node-static-page img {
        @include rem(margin-bottom, 27px);
        @include rem(margin-right, 29px);
        float: left;
      }
    }

    .block-multiblock {
      @include span(6 of 12);
    }

    .static-block-performer {
      @include span(6 of 12 last);
      @include rem(width, 270px);
      margin: 0 auto;
    }
  }
}

// Desctop
@include breakpoint($min_width) {
  .node-type-static-page {
    .content-sidebar-wrap {
      h1 {
        width: 75%;
      }
    }

    .second-sidebar {
      margin-top: 0;

      ul {
        @include span(12 of 12);
      }
    }

    .block-multiblock {
      width: 100%;
    }

    .second-sidebar a {
      &:hover {
        color: $btn-color;
      }
    }
  }
}
