body {
  @include rem(font-size, 16px);
  @include rem(line-height, 1.6);
  color: #000;
  font-family: 'RobotoRegular', sans-serif;
  font-weight: normal;
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
}

// typography
h1 {
  @include rem(font-size, 60px);
  @include rem(line-height, 56px);
  color: $white;
  font-family: 'CleanvertisingLight', sans-serif;
  font-weight: bold;
}
h2 {
  @include rem(font-size, 50px);
  @include rem(line-height, 56px);
        @include rem(margin, 15px 0);
  color: $white;
  font-family: 'CleanvertisingLight', sans-serif;
  text-align: center;
}
h3 {
  @include rem(font-size, 28px);
  color: $red;
}
h4 {
  @include rem(font-size, 22px);
  @include rem(margin, 20px 0);
  font-family: 'Times New Roman', serif;
  font-style: italic;
  font-weight: normal;

}
p {
  color: $main-text-color;
}
p strong {
  font-family: "@RobotoBold", sans-serif;
}

//tab styles
.wrapper {
  .active {
    color: $tab-active-color;
    text-decoration: underline;
  }
  .tabs {
    cursor: pointer;
    text-transform: uppercase;
    span {
      display: inline-block;
      font-family: 'RobotoBold', sans-serif;
      transition: 1s easy;
    }
  }
  .tab_item {
    display: none;
  }
  .tab_item:first-child {
    display: block;
  }
}

//button
.button_wrap {
  text-align: center;
}
.button {
  @include rem(padding, 0 32px);
  @include rem(line-height, 46px);
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  height: 46px;
  text-align: center;
  text-transform: uppercase;
  &:hover {
    color: #000;
  }
}

// input, textarea
input:focus:required:invalid,
textarea:focus:required:invalid {
  box-shadow: $red 0 0 0 3px;
  color: red;
}
input:required:valid,
textarea:required:valid {
  color: green;
}

.hidden {
  display: none;
}

//change some bootstrap styles
.row {
  margin: 0;
}
