@mixin flex-column {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* =====================================================================
                                                                   HEADER
====================================================================== */
header {
  height: 140px;
  padding: 23px 45px 26px 40px;
  overflow: hidden;
}
//logotype styles
.logo {
  display: block;
  float: left;
  width: 37%;
  img { 
    height: 87px;
    max-width: 420px; 
  }
}
//header-right styles
.header-right {
  float: right;
  text-align: right;
  width: 63%;
}
//social icons styles
.social {
  &__item {
    background: url(../img/social.png) no-repeat 0 0;
    background-size: cover;
    display: inline-block;
    height: 49px;
    margin-right: 8px;
    width: 49px;
    &:last-child { margin-right: 0; }
    &:hover { 
      opacity: .7;
      transform: rotate(360deg);
      transition: ease 0.7s;
    }
  }
  .insta { background-position: -64px 0; }
  .rss { background-position: -126px 0; }
}
//header-right text styles
.header-text {
  align-items: baseline;
  display: flex;
  font: 500 1.65rem "Alef-Regular";
  justify-content: flex-end;
  text-transform: uppercase;
}
.number {
  font-family: Arial;
  padding-left: 35px;
  position: relative;
  &::before {
    background: #000;
    border-radius: 50px;
    content: '';
    height: 10px;
    left: 13px;
    position: absolute;
    top: 30%;
    width: 10px;
  }
}



/* =====================================================================
                                                                  BANNER
====================================================================== */
.banner { position: relative; }
//rotator styles
.rotator {
  height: 710px;
  min-height: 240px;
  overflow: hidden;
  position: relative;
  &__item {
    float: left;
    position: absolute;
    width: 100%;
    &_img { 
      height: 710px;
      // min-height: 240px;
      position: absolute;
      width: 100%;
    }
    .rotator_bg1 { background: url(../img/brides.jpg) no-repeat top center; background-size: cover; }
    .rotator_bg2 { background: url(../img/about3.jpg) no-repeat top center; background-size: cover; }
    .rotator_bg3 { background: url(../img/about4.jpg) no-repeat top center; background-size: cover; }
  }
  .show {  z-index: 10; }
  //content styles
  .rotator__item_content {
    float: right;
    position: relative;
    right: 180px;
    top: 55px;
    .content-img1 {
      height: 522px;
      width: 522px;
    }
  }
}
//form styles
.banner-form {
  background: rgba(49,49,49,.9);
  bottom: 0;
  color: #fff;
  height: 240px;
  left: 15px;
  padding: 25px 40px 25px 30px;
  position: absolute;
  text-align: center;
  width: 640px;
  z-index: 20;
}
.btn_callUs {
  background: #e9d081;
  color: #313131;
  display: none;
  font-size: 2.79625rem;
  height: 70px;
  line-height: 50px;
  margin-bottom: 14px;
  padding-right: 2.44em;
  position: relative;
  &::after {
    background: url(../img/social.png) no-repeat -170px 0;
    background-size: cover;
    content: '';
    height: 44px;
    position: absolute;
    right: calc(50% - 157px);
    top: 20%;
    width: 44px;
  }
}
.inp_name,
.inp_tel { 
  margin: 10px 0;
  max-width: 49%;
}
.inp_name { margin-right: 1.2%; }
.inp_email { max-width: 73%; }
.btn_submit {
  background: #e9d081;
  color: #313131;
  font: 700 2rem "Alef-Regular"; 
  height: 45px;
  line-height: 30px;
  margin-right: 3.2%;
  max-width: 23%;
  vertical-align: top;
  width: 100%;
}
.form_text { font-size: 1.656875rem; margin-top: 10px; }



/* =====================================================================
                                                                  FOOTER
====================================================================== */
.footer-list__item {
  float: left;
  height: 230px;
  overflow: hidden;
  position: relative;
  width: 25%;
  img {
    height: 230px;
    position: absolute;
    top: 0;
  }
}
.footer__content {
  @include flex-column;
  color: #fff;
  height: 230px;
  overflow: hidden;
  padding: 5px;
  position: relative;
  text-align: center;
  &_title {
    font: 2.868125rem "Alef-Regular"; 
    &::after {
      content: '';
      display: block;
      height: 2px;
      background: #fff;
      width: 47%;
      margin: 20px auto 10px;
    }
  }
  &_text { font-size: 1.6rem; }
}