* { box-sizing: border-box; }
body {
  background: #fff;
  color: #95a5ad;
  font-family: "opensans-regular", sans-serif;
  font-size: 16px;
  position: relative;
  min-width: 320px;
}

.wrapper {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1170px;
}
.title_img {
  background: url(../img/title_img.png) no-repeat top center;
  padding-top: 35px;
}
.input {
  border-radius: 50px;
  font-family: 'opensans-regular';
  font-size: 1rem;
  height: 62px;
  padding: 0 20px;
  margin: 10px 0;
  &:focus {
    background: repeating-linear-gradient(-45deg, #fff, #fff 25px, #F6F4F5 25px, #F6F4F5 40px) fixed;
  }
}

.btn {
    background: #36aeea;
    border-radius: 5px;
    color: #fff;
    font-family: "opensans-bold";
    transition: 1s ease;
    width: 100%;
}

h1 {
  color: #fff;
  font-family: "opensans-bold";
  font-size: 3.125rem;
  text-transform: uppercase;
}
h2 {
  color: #212121;
  font-family: "opensans-bold";
  font-size: 1.875rem;
  text-align: center;
  text-transform: uppercase;
}
h3 {
  color: #212121;
  font-family: "opensans-bold";
  font-size: 1.25rem;
  text-transform: uppercase;
}
h4 {
  color: #949494;
  font-family: "opensans-regular";
  font-size: 1rem;
  font-weight: 400;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  text-transform: uppercase;
}

input {
  border-radius: 5px;
  border: none;
  color: #949494;
  outline: none;
}

img { width: 100%; }