// ul.menu li {
//   margin: 0;
// }
// li.expanded,
// li.collapsed,
// li.leaf {
//   padding: 0;
//   margin: 0;
// }
// ul.inline li {
//   padding: 0;
// }
// .breadcrumb {
//   padding-bottom: 0;
// }
// .more-link {
//   text-align: left;
// }
// ul li.collapsed,
// ul li.leaf {
//   list-style-image: none;
//   list-style-type: none;
//   @include text-overflow;
// }
// #admin-menu {
//   @include box-shadow();
// }
.panels-flexible-2 .panels-flexible-row {
  padding: 0;
}
.throbber {
  position: absolute;
}
.panels-flexible-2 .panels-flexible-region-inside,
.ordering-main-wrapp .panels-flexible-region-inside,
.panels-flexible-1 .panels-flexible-region-inside {
  padding-right: 0;
  padding-left: 0;
}
.panels-flexible-region-new-vk_widget {
  float: none;
  width: auto;
}
.panels-flexible-new .panels-flexible-row {
  padding: 0;
}
