body {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif;
	color: #51463d;
	font-size: 62.5%;
	background: #f3f2e8;
	}
/* links */
a:link, a:visited {
	font-weight: bold;
	color: #3792b3;
	}
/* header */
header {
	background: #766557 url(../img/h-bg-bottom.gif) repeat-x bottom;
	}
#header-inner {
	padding: 70px 0 0 0;
	background: url(../img/nav-top-clouds.gif) repeat-x -80% 0;
	}
/* logo */
#logo {
	margin: 0 0 20px 15px;
	}
#logo h1 {
	float: left;
	width: 188px;
	height: 29px;
	background: url(../img/tugboat-logo.gif) no-repeat top left;
	}
#logo h1 img {
	display: block;
	height: 0;
	}
#logo p {
	float: right;
	margin: 7px 15px 0 0;
	font-size: .9em;
	font-weight: bold;
	line-height: 1.2;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #e3c887;
	}
/* tugboar img */
#tugboat {
	position: absolute;
	right: 0;
	top: 42px;
	}
/* navigation */
nav {
	position: relative;
	width: 80%;
	max-width: 1000px;
	min-width: 680px;
	margin: 0 auto;
	font-size: 1.3em;
	}
nav ul li {
	float: left;
	width: 25%;
	}
nav ul li a {
	float: left;
	font-size: 1.1em;
	line-height: 1.3em;
	text-transform: uppercase;
	letter-spacing: 2px;
	border-left: 1px solid #87705d;
	}
nav ul li a strong {
	display: block;
	padding: .8em 15px;
	}
nav ul li a em {
	display: block;
	font-size: .9em;
	font-style: normal;
	text-transform: none;
	letter-spacing: 0;
	color: #b2a18f;
	}

/* section */
section {
	width: 80%;
	max-width: 1000px;
	min-width: 700px;
	margin: 0 auto;
	padding: 40px 0 0 0;
	font-size: 1.3em;
	}
.content {
	float: left;
	width: 73%;
	}
/* location form */
#loc {
	position: relative;
	padding: 0 0 .5em 0;
	}
#location {
	padding: 1em;
	background: #e2e1d4;
	}
#loc img {
	position: absolute;
	top: -1.5em;
	right: 1em;
	}
#loc input {
	font-size: 1.2em;
	width: 93%;
	padding: .8em;
	border: none;
	}
/* specials list */
ol.specials {
	margin: 1em 0 0 0;
	}
ol.specials li {
	width: 31%;
	float: left;
	font-size: 1.1em;
	margin: 0 3.5% 1.5em 0;
	}
ol.specials li:last-child {
	margin-right: 0;
	}
ol.specials li div.special-img {
	position: relative;
	border: 15px solid #e2e1d4;
	}
ol.specials li div.special-img img {
	max-width: 100%;
	}
ol.specials li div.special-img a span {
	display: block;
	position: absolute;
	width: 100%;
	bottom: 0;
	font-family: Georgia, serif;
	background-color: #333;
	text-align: center;
	}
ol.specials li div.special-img a span strong {
	display: block;
	padding: 10px 10px 0 10px;
	font-weight: normal;
	font-style: italic;
	color: #fff;
	}
ol.specials li div.special-img a span em {
	display: block;
	padding: 0 10px 10px 10px;
	font-style: normal;
	color: #e3c887;
	}
/*end class="specials"*/

span.amp {
	font-family: Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", serif;
	font-weight: normal;
	font-style: italic;
	font-size: 1.2em;
	color: #766557;
	}

/*entry group*/
div.entry {
	border-bottom: 1px solid #e2e1d4;
	}
div.entry h3 {
	margin: 0 0 .5em 15px;
	font-family: Georgia, serif;
	font-size: 1.8em;
	font-weight: normal;
	line-height: 1.3;
	color: #a14141;
	}
div.entry ul.entry-meta {
	float: left;
	width: 30.822%; /* 225 / 730 = 0.30822 */
	}
div.entry ul.entry-meta li {
	padding-left: 15px;
	color: #9c836e;
	}
div.entry ul.entry-meta li h4 {
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #766557;
	}
div.entry:last-child {
	border-bottom: none;
	}
span.by {
	font-family: Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", serif;
	font-style: italic;
	font-size: 1.2em;
	line-height: 1;
	}
div.entry-body {
	float: right;
	width: 63.014%; /* 460 / 730 = 0.63014 */
	}
div.entry-body p {
	margin: 0 0 1.5em 0;
	}
div.more-btn {
	margin: 2em 0;
	}
div.more-btn a {
	padding: 6px 14px;
	color: #fff;
	background: #3792b3;
	border-radius: 14px;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	}
div.more-btn a:hover {
	border-color: #a14141;
	background-color: #a14141;
	}
/*end class="content"*/

/*drink-menu*/
.drink-menu {
	float: right;
	width: 25%;
	}
div.mod {
	margin: 0 0 1.5em 0;
	padding: 15px;
	background: #fff;
	}
div.mod h3 {
	font-size: 1.1em;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #a14141;
	border-bottom: 2px solid #ecebe1;
	}

/* drink menu list */
.mod ul li a {
	display: block;
	padding: 7px;
	border-bottom: 1px solid #f3f2e8;
	overflow: hidden;
	}
.mod ul li:last-child a {
	border: none;
	}
.mod ul a:hover {
	background: #f8f7f1;
	}
.mod ul li em {
	float: right;
	margin: 0 0 0 5px;
	font-style: normal;
	color: #9c836e;
	}
/*end class="drink-menu"*/

/*class="press"*/
div.alt {
	background: none;
	}
div.alt h3 {
	border-bottom-color: #e2e1d4;
	}
ul.press li {
	margin: 1em 0;
	padding: 0 0 1em 0;
	border-bottom: 1px solid #e2e1d4;
	}
ul.press li:last-child {
	border-bottom: none;
	}
ul.press li blockquote {
	font-family: Georgia;
	font-size: 1.2em;
	font-style: italic;
	}
ul.press li blockquote p {
	margin: 0 0 1em 0;
	}
ul.press li blockquote p.author {
	margin: 0;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif;
	font-size: .8em;
	font-style: normal;
	text-align: right;
	color: #9c836e;
	}
#footer {
	clear: both;
	margin: 0 auto;
	padding: 10px 0 30px 0;
	font-size: 1em;
	color: #9c836e;
	border-top: 2px solid #e2e1d4;
	}
/* self-clear floats */
.group:after {
	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    }