 input:focus::-webkit-input-placeholder,
 textarea:focus::-webkit-input-placeholder {
  transition: .5s ease-in-out;
  transform: translate(100%, 0);
  opacity: 0;
}
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  transition: .5s ease-in-out;
  transform: translate(100%, 0);
  opacity: 0; 
}

 .contact-form__block {
  margin-top: 60px;
    .form-group {
      @include flex(row, center, space-between);
      .form-control {
        background: transparent;
        border: 1px solid #fff;
        border-radius: 0;
        color: #fff;
        font-family: "Oswald-Light";
        font-size: 1.071428571428571em; //15px
        width: 100%;
        max-width: 368px;
        height: 58px;
        padding-left: 18px;
        transition: .5s;
        &::-webkit-input-placeholder {
          color: #fff;
          font-size: 1.071428571428571em; //15px
        }
        &::-moz-placeholder { 
            color: #fff;
            font-size: 1.071428571428571em; //15px
        }
        &:focus {
          box-shadow: 0px 0px 10px rgba(255, 230, 0,.9);
          border: 1px solid rgba(255,230,0,.5);
        }
      }
    }

    textarea {
      background: transparent;
      border: 1px solid #fff;
      padding: 10px 18px;
      margin: 15px 0 25px;
      height: 220px;
      max-width: 1170px;
      width: 100%;
      color: #fff;
      font-family: "Oswald-Light";
      font-size: 1.071428571428571em; //15px
      resize: none;
      overflow: hidden;
       &::-webkit-input-placeholder {
        color: #fff;
        font-size: 1.071428571428571em; //15px
        }
        &::-moz-placeholder { 
          color: #fff;
          font-size: 1.071428571428571em; //15px
        }
      &:focus {
        box-shadow: 0px 0px 10px rgba(255, 230, 0,.9);
        border: 1px solid rgba(255,230,0,.5);
        outline: none;
      }
    }
 }